<a href="https://colab.research.google.com/github/foram99/ores1996/blob/main/Copy_of_DATA_CLEANING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importing pandas, numpy,scipy
import pandas as pd
import numpy as np
from scipy import stats

In [ ]:
# Loading CSV dataframe
df = pd.read_csv("/content/drive/MyDrive/Uninsured dataset.csv")
df

,State Name,Non-Elderly Population,Non-Elderly Uninsured Population,Non-Elderly Percent Uninsured,HIU Income < 100% FPL,HIU Income 100-138% FPL,HIU Income 139-249% FPL,HIU Income 250-400% FPL,HIU Income 400% FPL,Age 0-18,...,Employed in Military/Public Industry,No English Speaking Adults in HH,English Speaker,Spanish Spoken in HH,Chinese Spoken in HH,Korean Spoken in HH,Vietnamese Spoken in HH,Tagalog Spoken in HH,Russian Spoken in HH,Other Language Spoken in HH
0,Alabama,"41,55,300","5,21,500",12.50%,"2,34,300","56,200","1,10,100","74,200","46,700","50,900",...,"13,800","30,600","4,78,100","39,700",400,**,700,**,**,"2,200"
1,Alaska,"6,35,600","75,000",11.80%,"21,400","4,800","18,200","16,500","14,200","13,500",...,"4,400","2,000","71,600","1,500",500,**,**,**,**,"1,000"
2,Arizona,"59,40,000","7,84,400",13.20%,"2,26,000","64,400","1,97,600","1,59,500","1,36,900","1,46,700",...,"16,100","85,400","6,25,000","1,45,400","1,400",700,"1,200",700,**,"10,000"
3,Arkansas,"25,01,200","2,90,900",11.60%,"1,01,100","25,400","83,900","51,800","28,800","40,800",...,"5,400","21,500","2,53,000","32,700",100,**,**,**,**,"4,900"
4,California,"3,32,73,200","27,48,900",8.30%,"8,91,800","2,41,400","7,06,900","5,04,200","4,04,700","3,27,700",...,"69,700","5,29,500","17,52,200","8,75,300","23,900","12,800","11,200","8,700","2,900","61,900"
5,Colorado,"49,30,600","4,66,400",9.50%,"1,19,200","30,900","1,13,900","1,02,400","1,00,000","61,100",...,"7,300","57,500","3,65,400","87,600",500,900,"1,000",**,"1,600","9,300"
6,Connecticut,"29,55,300","1,81,200",6.10%,"43,000","16,300","43,400","35,800","42,800","20,400",...,"5,300","45,500","1,19,100","47,400","1,700",**,600,**,**,"12,200"
7,Delaware,"8,04,200","60,300",7.50%,"18,200","3,800","12,300","14,200","11,800","7,300",...,"1,000","7,500","48,200","10,900",**,**,**,**,**,"1,000"
8,District of Columbia,"5,84,500","24,300",4.20%,"10,600",800,"5,400","2,600","4,900","5,500",...,900,"2,700","19,800","2,900",200,**,**,**,**,"1,300"
9,Florida,"1,71,82,000","26,82,500",15.60%,"9,08,400","2,25,100","6,63,900","4,90,400","3,94,600","3,33,800",...,"47,400","3,68,900","21,09,300","4,66,800","3,100","1,000","3,900","1,300","6,100","91,000"
10,Georgia,"92,13,900","14,11,600",15.30%,"5,52,300","1,13,100","3,54,800","2,20,600","1,70,800","1,76,900",...,"29,000","1,28,200","12,12,200","1,67,300","1,300","5,500","3,700",500,**,"21,100"
11,Hawaii,"11,59,100","50,800",4.40%,"20,600","4,400","11,200","7,200","7,400","8,100",...,"1,500","5,300","41,300","1,700","1,900",900,**,700,**,"4,200"
12,Idaho,"15,86,000","1,62,400",10.20%,"41,400","14,300","47,100","32,600","27,000","32,300",...,"2,600","13,100","1,40,900","19,400",**,**,**,**,**,"1,600"
13,Illinois,"1,05,66,100","8,73,300",8.30%,"2,73,800","67,800","2,27,300","1,63,100","1,41,300","93,300",...,"21,400","1,34,200","6,35,800","1,84,900","3,100","1,500",700,"1,100","2,200","44,100"
14,Indiana,"56,89,300","5,10,300",9.00%,"1,43,300","39,300","1,38,000","1,08,000","81,700","98,100",...,"8,400","38,000","4,54,000","31,100",600,**,300,**,**,"24,000"
15,Iowa,"26,25,700","1,60,700",6.10%,"48,200","17,300","33,200","32,600","29,500","27,800",...,"4,300","15,500","1,37,700","15,000",**,**,**,**,**,"6,900"
16,Kansas,"24,46,300","2,69,500",11.00%,"87,900","26,700","73,300","43,900","37,800","38,500",...,"6,800","33,000","2,28,200","35,300","1,600",**,600,**,600,"3,200"
17,Kentucky,"37,40,800","2,58,000",6.90%,"93,300","26,500","60,600","44,700","32,800","38,800",...,"4,800","30,900","2,19,000","25,000",400,**,**,**,**,"13,000"
18,Louisiana,"38,56,000","3,75,300",9.70%,"1,46,700","29,800","89,500","55,800","53,500","45,300",...,"8,500","42,700","3,28,100","40,000",300,900,700,**,**,"5,200"
19,Maine,"10,74,000","76,000",7.10%,"20,800","3,800","18,300","18,900","14,300","9,400",...,"2,100",900,"75,000",**,**,**,**,**,**,900
20,Maryland,"51,62,200","3,74,800",7.30%,"1,28,000","29,700","85,500","61,700","70,000","64,600",...,"9,200","78,300","2,59,400","94,300","2,200","1,500","1,100",700,900,"14,900"
21,Massachusetts,"57,66,500","1,68,700",2.90%,"51,400","10,900","32,600","35,000","38,900","16,300",...,"5,100","24,600","1,27,500","18,000","3,500",300,600,**,900,"17,900"
22,Michigan,"82,25,800","5,26,900",6.40%,"1,60,300","37,700","1,40,500","1,07,800","80,600","74,700",...,"10,200","20,800","4,80,800","27,300","1,100",**,400,**,300,"16,800"
23,Minnesota,"47,44,000","2,46,400",5.20%,"55,100","22,900","62,800","54,400","51,100","43,300",...,"4,300","21,700","2,14,800","23,500",400,**,**,**,**,"7,800"
24,Mississippi,"24,53,300","3,73,200",15.20%,"1,72,900","36,900","79,000","51,000","33,500","48,800",...,"11,500","15,900","3,53,500","16,600",800,**,400,**,**,"1,900"
25,Missouri,"50,83,200","5,78,000",11.40%,"2,06,100","50,300","1,47,400","96,300","78,000","85,500",...,"10,300","24,700","5,43,300","22,200",800,400,900,**,500,"9,900"
26,Montana,"8,87,200","87,100",9.80%,"20,500","8,800","22,300","16,500","19,000","19,300",...,"3,300","3,100","83,700","2,100",**,**,**,**,**,"1,200"
27,Nebraska,"16,40,500","1,38,900",8.50%,"40,000","20,600","37,700","20,900","19,700","27,600",...,"3,600","21,200","1,11,500","24,700",**,**,**,**,**,"2,600"
28,Nevada,"26,25,300","3,55,800",13.60%,"99,000","41,100","95,900","69,000","51,000","63,800",...,"7,300","46,300","2,70,600","75,900","1,400","1,100",**,"1,300",600,"4,900"
29,New Hampshire,"11,22,200","68,100",6.10%,"17,000","4,400","12,000","15,200","19,500","10,600",...,"1,400","4,100","61,700","2,600",**,**,**,**,**,"3,500"
30,New Jersey,"77,02,700","6,57,100",8.50%,"2,00,300","58,000","1,73,300","1,16,300","1,09,300","76,200",...,"19,500","1,77,300","3,85,600","2,17,200","3,500","4,100","1,600","1,200",500,"43,400"
31,New Mexico,"17,25,800","2,09,500",12.10%,"72,400","24,300","52,000","33,600","27,200","35,300",...,"6,600","36,400","1,61,100","40,500",**,**,500,**,**,"7,200"
32,New York,"1,63,58,200","10,08,700",6.20%,"3,28,200","73,200","2,20,300","1,94,400","1,92,700","1,20,200",...,"24,500","1,93,900","7,05,300","2,03,600","32,400","4,500",**,"1,100","6,800","54,900"
33,North Carolina,"87,52,300","10,88,500",12.40%,"3,69,400","1,05,800","2,74,400","2,02,800","1,36,000","1,33,000",...,"20,100","1,34,100","8,92,100","1,76,700","1,300",800,"1,300",**,800,"15,600"
34,North Dakota,"6,51,500","57,200",8.80%,"15,000","3,100","16,500","10,500","12,100","13,500",...,700,"1,500","55,200","1,200",**,**,**,**,**,800
35,Ohio,"96,76,600","7,80,900",8.10%,"2,44,100","57,200","2,05,200","1,52,000","1,22,500","1,40,300",...,"11,500","58,500","7,01,200","30,200","3,900",300,"2,500",**,"1,200","41,600"
36,Oklahoma,"33,41,200","5,54,400",16.60%,"2,00,600","52,400","1,39,600","87,900","73,900","72,500",...,"11,000","32,300","4,98,900","49,000",300,**,800,**,400,"4,600"
37,Oregon,"34,56,300","2,62,300",7.60%,"73,200","21,600","66,600","55,500","45,500","31,400",...,"5,900","31,500","2,12,900","41,600",600,**,900,**,300,"5,900"
38,Pennsylvania,"1,04,98,400","7,25,400",6.90%,"2,40,900","53,700","1,70,100","1,31,900","1,28,900","1,20,300",...,"13,300","92,600","5,94,200","70,100","5,900","2,100",900,300,"3,200","48,700"
39,Rhode Island,"8,95,800","45,500",5.10%,"11,100","3,800","10,400","10,100","10,000","4,100",...,900,"6,100","35,700","8,000",**,**,**,**,**,"1,500"
40,South Carolina,"42,24,700","5,28,000",12.50%,"2,01,700","46,300","1,21,600","85,700","72,700","63,400",...,"10,500","35,800","4,69,600","49,900","1,100",**,700,"1,000",400,"5,200"
41,South Dakota,"7,38,700","85,500",11.60%,"31,000","7,100","19,900","14,100","13,400","19,500",...,"2,900","1,300","82,000","2,000",**,**,**,**,**,"1,500"
42,Tennessee,"57,86,900","7,22,100",12.50%,"2,67,100","64,400","1,82,500","1,26,900","81,200","81,800",...,"18,200","71,600","6,26,100","82,700","1,200",300,500,**,**,"11,000"
43,Texas,"2,56,30,900","53,57,800",20.90%,"18,06,400","5,29,500","13,97,000","9,29,300","6,95,600","9,30,800",...,"82,100","9,48,700","39,08,400","13,60,000","7,600","5,700","15,100","1,800",800,"58,300"
44,Utah,"29,49,600","3,07,800",10.40%,"72,400","31,000","92,800","66,100","45,400","81,900",...,"5,600","30,800","2,55,600","47,400",700,**,400,600,**,"3,000"
45,Vermont,"5,12,600","21,300",4.20%,"4,300",500,"6,300","5,800","4,500","1,900",...,**,900,"20,300",300,**,**,**,**,**,700
46,Virginia,"72,37,700","5,87,100",8.10%,"1,77,300","55,700","1,53,100","1,03,700","97,400","87,900",...,"13,600","85,400","4,54,600","1,07,300","1,000","3,400","1,500",400,600,"18,300"
47,Washington,"64,86,300","4,92,000",7.60%,"1,17,000","36,600","1,25,000","98,100","1,15,300","58,300",...,"8,700","75,200","3,68,600","95,900","3,100","3,100","2,900","1,300","1,600","15,700"
48,West Virginia,"14,12,800","1,17,500",8.30%,"46,200","9,500","25,200","21,200","15,500","13,300",...,"3,000","1,000","1,15,700",900,**,**,**,**,**,800
49,Wisconsin,"48,41,700","3,27,800",6.80%,"87,300","31,500","79,900","69,000","60,100","58,300",...,"6,200","27,400","2,82,700","31,700",900,**,900,**,**,"11,100"
50,Wyoming,"4,74,000","68,000",14.40%,"19,100","7,700","15,300","13,600","12,200","14,500",...,"1,300","2,200","65,800","1,800",**,**,200,**,**,**
51,US Total,"27,59,83,800","2,89,06,000",10.50%,"95,37,200","25,48,200","72,71,200","52,35,400","43,14,000","41,89,300",...,"5,93,000","38,98,300","2,27,12,400","51,54,900","1,16,700","53,100","60,000","24,100","34,500","7,50,100"

In [ ]:
#Names of columns in dataset
df.columns

Index(['State Name', 'Non-Elderly Population',
       'Non-Elderly Uninsured Population', 'Non-Elderly Percent Uninsured',
       'HIU Income < 100% FPL', 'HIU Income 100-138% FPL',
       'HIU Income 139-249% FPL', 'HIU Income 250-400% FPL',
       'HIU Income 400% FPL', 'Age 0-18', 'Age 19-34', 'Age 35-49',
       'Age 50-64', 'Male', 'Female', 'Less than High School',
       'High School Diploma', 'College Grad', 'Married',
       'Got married in last 12 months', 'Gave birth in last 12 months',
       'Child in Family', 'Spanish/Hispanic/Latino Origin', 'White Non-Latino',
       'Black Non-Latino', 'Asian / Native-Hawaiian / Pac Islander',
       'American Indian / Alaska Native', 'Multi-racial or Other',
       'Internet Access in HH', 'Cellular data plan for mobile device in HH',
       'High Speed Internet service in HH', 'SNAP Recipient',
       'With a disability', 'Full-time Worker in Family',
       'Self-Employed, Incorporated', 'Self-Employed, Unincorporated',
       'Employed in Agriculture Industry',
       'Employed in Mining/Construction Industry',
       'Employed in Manufacturing Industry', 'Employed in Trade Industry',
       'Employed in Info/Finance Industry',
       'Employed in Education/Health Industry',
       'Employed in Entertainment Industry', 'Employed in Service Industry',
       'Employed in Military/Public Industry',
       'No English Speaking Adults in HH', 'English Speaker',
       'Spanish Spoken in HH', 'Chinese Spoken in HH', 'Korean Spoken in HH',
       'Vietnamese Spoken in HH', 'Tagalog Spoken in HH',
       'Russian Spoken in HH', 'Other Language Spoken in HH'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 54 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   State Name                                  52 non-null     object
 1   Non-Elderly Population                      52 non-null     object
 2   Non-Elderly Uninsured Population            52 non-null     object
 3   Non-Elderly Percent Uninsured               52 non-null     object
 4   HIU Income < 100% FPL                       52 non-null     object
 5   HIU Income 100-138% FPL                     52 non-null     object
 6   HIU Income 139-249% FPL                     52 non-null     object
 7   HIU Income 250-400% FPL                     52 non-null     object
 8   HIU Income 400% FPL                         52 non-null     object
 9   Age 0-18                                    52 non-null     object
 10  Age 19-34                                   52 non-null     object
 11  Age 35-49                                   52 non-null     object
 12  Age 50-64                                   52 non-null     object
 13  Male                                        52 non-null     object
 14  Female                                      52 non-null     object
 15  Less than High School                       52 non-null     object
 16  High School Diploma                         52 non-null     object
 17  College Grad                                52 non-null     object
 18  Married                                     52 non-null     object
 19  Got married in last 12 months               52 non-null     object
 20  Gave birth in last 12 months                52 non-null     object
 21  Child in Family                             52 non-null     object
 22  Spanish/Hispanic/Latino Origin              52 non-null     object
 23  White Non-Latino                            52 non-null     object
 24  Black Non-Latino                            52 non-null     object
 25  Asian / Native-Hawaiian / Pac Islander      52 non-null     object
 26  American Indian / Alaska Native             52 non-null     object
 27  Multi-racial or Other                       52 non-null     object
 28  Internet Access in HH                       52 non-null     object
 29  Cellular data plan for mobile device in HH  52 non-null     object
 30  High Speed Internet service in HH           52 non-null     object
 31  SNAP Recipient                              52 non-null     object
 32  With a disability                           52 non-null     object
 33  Full-time Worker in Family                  52 non-null     object
 34  Self-Employed, Incorporated                 52 non-null     object
 35  Self-Employed, Unincorporated               52 non-null     object
 36  Employed in Agriculture Industry            52 non-null     object
 37  Employed in Mining/Construction Industry    52 non-null     object
 38  Employed in Manufacturing Industry          52 non-null     object
 39  Employed in Trade Industry                  52 non-null     object
 40  Employed in Info/Finance Industry           52 non-null     object
 41  Employed in Education/Health Industry       52 non-null     object
 42  Employed in Entertainment Industry          52 non-null     object
 43  Employed in Service Industry                52 non-null     object
 44  Employed in Military/Public Industry        52 non-null     object
 45  No English Speaking Adults in HH            52 non-null     object
 46  English Speaker                             52 non-null     object
 47  Spanish Spoken in HH                        52 non-null     object
 48  Chinese Spoken in HH                        52 non-null     object
 49  Korean Spoken in HH                         52 non-null     object
 50  Vietnamese Spoken in HH                     52 non-null     object
 51  Tagalog Spoken in HH                        52 non-null     object
 52  Russian Spoken in HH                        52 non-null     object
 53  Other Language Spoken in HH                 52 non-null     object
dtypes: object(54)
memory usage: 22.1+ KB

In [ ]:
df.shape

(52, 54)

In [ ]:
#checking data type
df.dtypes

State Name                                    object
Non-Elderly Population                        object
Non-Elderly Uninsured Population              object
Non-Elderly Percent Uninsured                 object
HIU Income < 100% FPL                         object
HIU Income 100-138% FPL                       object
HIU Income 139-249% FPL                       object
HIU Income 250-400% FPL                       object
HIU Income 400% FPL                           object
Age 0-18                                      object
Age 19-34                                     object
Age 35-49                                     object
Age 50-64                                     object
Male                                          object
Female                                        object
Less than High School                         object
High School Diploma                           object
College Grad                                  object
Married                                       object
Got married in last 12 months                 object
Gave birth in last 12 months                  object
Child in Family                               object
Spanish/Hispanic/Latino Origin                object
White Non-Latino                              object
Black Non-Latino                              object
Asian / Native-Hawaiian / Pac Islander        object
American Indian / Alaska Native               object
Multi-racial or Other                         object
Internet Access in HH                         object
Cellular data plan for mobile device in HH    object
High Speed Internet service in HH             object
SNAP Recipient                                object
With a disability                             object
Full-time Worker in Family                    object
Self-Employed, Incorporated                   object
Self-Employed, Unincorporated                 object
Employed in Agriculture Industry              object
Employed in Mining/Construction Industry      object
Employed in Manufacturing Industry            object
Employed in Trade Industry                    object
Employed in Info/Finance Industry             object
Employed in Education/Health Industry         object
Employed in Entertainment Industry            object
Employed in Service Industry                  object
Employed in Military/Public Industry          object
No English Speaking Adults in HH              object
English Speaker                               object
Spanish Spoken in HH                          object
Chinese Spoken in HH                          object
Korean Spoken in HH                           object
Vietnamese Spoken in HH                       object
Tagalog Spoken in HH                          object
Russian Spoken in HH                          object
Other Language Spoken in HH                   object
dtype: object

In [ ]:
#renaming few Columns
df = df.rename(columns={"High School Diploma": "High_School", "With a disability" : "Disabled"})

In [ ]:
#droping duplicate rows
df = df.drop_duplicates()

In [ ]:
#droping columns
drop_columns = ['Spanish Spoken in HH', 'Chinese Spoken in HH', 'Korean Spoken in HH', 'Vietnamese Spoken in HH', 'Tagalog Spoken in HH', 'Russian Spoken in HH']

# Useing drop method to remove the specified columns
df = df.drop(columns=drop_columns)

In [ ]:
#checking columns after droping few previously
df.columns

Index(['State Name', 'Non-Elderly Population',
       'Non-Elderly Uninsured Population', 'Non-Elderly Percent Uninsured',
       'HIU Income < 100% FPL', 'HIU Income 100-138% FPL',
       'HIU Income 139-249% FPL', 'HIU Income 250-400% FPL',
       'HIU Income 400% FPL', 'Age 0-18', 'Age 19-34', 'Age 35-49',
       'Age 50-64', 'Male', 'Female', 'Less than High School', 'High_School',
       'College Grad', 'Married', 'Got married in last 12 months',
       'Gave birth in last 12 months', 'Child in Family',
       'Spanish/Hispanic/Latino Origin', 'White Non-Latino',
       'Black Non-Latino', 'Asian / Native-Hawaiian / Pac Islander',
       'American Indian / Alaska Native', 'Multi-racial or Other',
       'Internet Access in HH', 'Cellular data plan for mobile device in HH',
       'High Speed Internet service in HH', 'SNAP Recipient', 'Disabled',
       'Full-time Worker in Family', 'Self-Employed, Incorporated',
       'Self-Employed, Unincorporated', 'Employed in Agriculture Industry',
       'Employed in Mining/Construction Industry',
       'Employed in Manufacturing Industry', 'Employed in Trade Industry',
       'Employed in Info/Finance Industry',
       'Employed in Education/Health Industry',
       'Employed in Entertainment Industry', 'Employed in Service Industry',
       'Employed in Military/Public Industry',
       'No English Speaking Adults in HH', 'English Speaker',
       'Other Language Spoken in HH'],
      dtype='object')

In [ ]:
# Iterate through all columns and replace "**" with "0"
for column in df.columns:
    df[column] = df[column].str.replace(r'\*\*', '0')
df

<ipython-input-707-a04fe88ab317>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column] = df[column].str.replace(r'\*\*', '0')

,State Name,Non-Elderly Population,Non-Elderly Uninsured Population,Non-Elderly Percent Uninsured,HIU Income < 100% FPL,HIU Income 100-138% FPL,HIU Income 139-249% FPL,HIU Income 250-400% FPL,HIU Income 400% FPL,Age 0-18,...,Employed in Manufacturing Industry,Employed in Trade Industry,Employed in Info/Finance Industry,Employed in Education/Health Industry,Employed in Entertainment Industry,Employed in Service Industry,Employed in Military/Public Industry,No English Speaking Adults in HH,English Speaker,Other Language Spoken in HH
0,Alabama,"41,55,300","5,21,500",12.50%,"2,34,300","56,200","1,10,100","74,200","46,700","50,900",...,"50,400","83,500","48,100","41,300","63,500","22,500","13,800","30,600","4,78,100","2,200"
1,Alaska,"6,35,600","75,000",11.80%,"21,400","4,800","18,200","16,500","14,200","13,500",...,"2,300","9,700","6,500","8,100","10,200","2,700","4,400","2,000","71,600","1,000"
2,Arizona,"59,40,000","7,84,400",13.20%,"2,26,000","64,400","1,97,600","1,59,500","1,36,900","1,46,700",...,"39,300","1,14,000","1,06,500","66,000","82,200","34,700","16,100","85,400","6,25,000","10,000"
3,Arkansas,"25,01,200","2,90,900",11.60%,"1,01,100","25,400","83,900","51,800","28,800","40,800",...,"27,300","42,700","23,600","31,500","21,500","15,200","5,400","21,500","2,53,000","4,900"
4,California,"3,32,73,200","27,48,900",8.30%,"8,91,800","2,41,400","7,06,900","5,04,200","4,04,700","3,27,700",...,"1,50,600","4,39,900","3,28,000","2,24,100","2,98,800","1,30,400","69,700","5,29,500","17,52,200","61,900"
5,Colorado,"49,30,600","4,66,400",9.50%,"1,19,200","30,900","1,13,900","1,02,400","1,00,000","61,100",...,"22,800","71,300","58,800","35,600","54,900","28,700","7,300","57,500","3,65,400","9,300"
6,Connecticut,"29,55,300","1,81,200",6.10%,"43,000","16,300","43,400","35,800","42,800","20,400",...,"10,700","30,100","26,900","20,800","20,000","9,900","5,300","45,500","1,19,100","12,200"
7,Delaware,"8,04,200","60,300",7.50%,"18,200","3,800","12,300","14,200","11,800","7,300",...,"4,500","11,200","7,000","4,200","7,400","2,200","1,000","7,500","48,200","1,000"
8,District of Columbia,"5,84,500","24,300",4.20%,"10,600",800,"5,400","2,600","4,900","5,500",...,0,"3,300","3,900","1,500","4,600","1,400",900,"2,700","19,800","1,300"
9,Florida,"1,71,82,000","26,82,500",15.60%,"9,08,400","2,25,100","6,63,900","4,90,400","3,94,600","3,33,800",...,"90,100","4,12,600","3,96,100","2,30,300","3,08,600","1,28,500","47,400","3,68,900","21,09,300","91,000"
10,Georgia,"92,13,900","14,11,600",15.30%,"5,52,300","1,13,100","3,54,800","2,20,600","1,70,800","1,76,900",...,"1,05,200","2,30,000","1,67,000","1,04,100","1,47,700","67,500","29,000","1,28,200","12,12,200","21,100"
11,Hawaii,"11,59,100","50,800",4.40%,"20,600","4,400","11,200","7,200","7,400","8,100",...,400,"8,100","6,500","5,500","8,300","1,700","1,500","5,300","41,300","4,200"
12,Idaho,"15,86,000","1,62,400",10.20%,"41,400","14,300","47,100","32,600","27,000","32,300",...,"9,900","22,500","18,800","14,800","19,100","6,100","2,600","13,100","1,40,900","1,600"
13,Illinois,"1,05,66,100","8,73,300",8.30%,"2,73,800","67,800","2,27,300","1,63,100","1,41,300","93,300",...,"88,500","1,54,400","1,00,400","81,200","1,03,400","37,500","21,400","1,34,200","6,35,800","44,100"
14,Indiana,"56,89,300","5,10,300",9.00%,"1,43,300","39,300","1,38,000","1,08,000","81,700","98,100",...,"61,200","74,800","49,400","41,900","51,500","23,800","8,400","38,000","4,54,000","24,000"
15,Iowa,"26,25,700","1,60,700",6.10%,"48,200","17,300","33,200","32,600","29,500","27,800",...,"17,300","20,600","17,700","17,300","18,900","4,800","4,300","15,500","1,37,700","6,900"
16,Kansas,"24,46,300","2,69,500",11.00%,"87,900","26,700","73,300","43,900","37,800","38,500",...,"22,900","44,800","27,200","27,100","38,700","11,000","6,800","33,000","2,28,200","3,200"
17,Kentucky,"37,40,800","2,58,000",6.90%,"93,300","26,500","60,600","44,700","32,800","38,800",...,"26,600","46,900","25,900","15,700","26,900","10,200","4,800","30,900","2,19,000","13,000"
18,Louisiana,"38,56,000","3,75,300",9.70%,"1,46,700","29,800","89,500","55,800","53,500","45,300",...,"15,800","60,700","38,600","30,200","36,400","14,600","8,500","42,700","3,28,100","5,200"
19,Maine,"10,74,000","76,000",7.10%,"20,800","3,800","18,300","18,900","14,300","9,400",...,"3,900","12,200","10,100","7,900","8,300","4,200","2,100",900,"75,000",900
20,Maryland,"51,62,200","3,74,800",7.30%,"1,28,000","29,700","85,500","61,700","70,000","64,600",...,"12,800","56,400","50,100","32,600","38,300","17,500","9,200","78,300","2,59,400","14,900"
21,Massachusetts,"57,66,500","1,68,700",2.90%,"51,400","10,900","32,600","35,000","38,900","16,300",...,"7,400","30,200","23,000","20,600","20,400","7,400","5,100","24,600","1,27,500","17,900"
22,Michigan,"82,25,800","5,26,900",6.40%,"1,60,300","37,700","1,40,500","1,07,800","80,600","74,700",...,"61,100","84,700","57,000","47,400","56,000","22,800","10,200","20,800","4,80,800","16,800"
23,Minnesota,"47,44,000","2,46,400",5.20%,"55,100","22,900","62,800","54,400","51,100","43,300",...,"22,100","34,200","27,200","30,200","25,900","11,900","4,300","21,700","2,14,800","7,800"
24,Mississippi,"24,53,300","3,73,200",15.20%,"1,72,900","36,900","79,000","51,000","33,500","48,800",...,"26,300","60,600","30,900","29,400","39,700","18,300","11,500","15,900","3,53,500","1,900"
25,Missouri,"50,83,200","5,78,000",11.40%,"2,06,100","50,300","1,47,400","96,300","78,000","85,500",...,"43,400","96,600","57,400","62,900","72,700","27,600","10,300","24,700","5,43,300","9,900"
26,Montana,"8,87,200","87,100",9.80%,"20,500","8,800","22,300","16,500","19,000","19,300",...,"2,200","12,300","9,800","6,500","11,600","3,800","3,300","3,100","83,700","1,200"
27,Nebraska,"16,40,500","1,38,900",8.50%,"40,000","20,600","37,700","20,900","19,700","27,600",...,"11,000","20,000","13,600","12,300","16,400","4,400","3,600","21,200","1,11,500","2,600"
28,Nevada,"26,25,300","3,55,800",13.60%,"99,000","41,100","95,900","69,000","51,000","63,800",...,"11,500","51,200","46,600","19,600","57,200","15,000","7,300","46,300","2,70,600","4,900"
29,New Hampshire,"11,22,200","68,100",6.10%,"17,000","4,400","12,000","15,200","19,500","10,600",...,"6,600","11,300","8,200","5,900","8,900","3,100","1,400","4,100","61,700","3,500"
30,New Jersey,"77,02,700","6,57,100",8.50%,"2,00,300","58,000","1,73,300","1,16,300","1,09,300","76,200",...,"42,700","1,23,500","81,600","58,100","66,300","36,700","19,500","1,77,300","3,85,600","43,400"
31,New Mexico,"17,25,800","2,09,500",12.10%,"72,400","24,300","52,000","33,600","27,200","35,300",...,"5,500","25,700","18,000","22,800","24,300","9,200","6,600","36,400","1,61,100","7,200"
32,New York,"1,63,58,200","10,08,700",6.20%,"3,28,200","73,200","2,20,300","1,94,400","1,92,700","1,20,200",...,"41,000","1,59,500","1,33,700","1,17,500","1,10,200","53,400","24,500","1,93,900","7,05,300","54,900"
33,North Carolina,"87,52,300","10,88,500",12.40%,"3,69,400","1,05,800","2,74,400","2,02,800","1,36,000","1,33,000",...,"86,400","1,67,600","1,19,800","90,000","1,18,500","47,600","20,100","1,34,100","8,92,100","15,600"
34,North Dakota,"6,51,500","57,200",8.80%,"15,000","3,100","16,500","10,500","12,100","13,500",...,"1,400","9,700","4,200","5,300","9,100","1,800",700,"1,500","55,200",800
35,Ohio,"96,76,600","7,80,900",8.10%,"2,44,100","57,200","2,05,200","1,52,000","1,22,500","1,40,300",...,"70,800","1,40,200","78,000","76,900","82,000","34,800","11,500","58,500","7,01,200","41,600"
36,Oklahoma,"33,41,200","5,54,400",16.60%,"2,00,600","52,400","1,39,600","87,900","73,900","72,500",...,"35,400","92,700","59,100","51,000","62,700","21,600","11,000","32,300","4,98,900","4,600"
37,Oregon,"34,56,300","2,62,300",7.60%,"73,200","21,600","66,600","55,500","45,500","31,400",...,"18,500","40,900","32,200","23,900","34,600","13,400","5,900","31,500","2,12,900","5,900"
38,Pennsylvania,"1,04,98,400","7,25,400",6.90%,"2,40,900","53,700","1,70,100","1,31,900","1,28,900","1,20,300",...,"57,500","1,27,000","70,300","73,300","66,300","31,700","13,300","92,600","5,94,200","48,700"
39,Rhode Island,"8,95,800","45,500",5.10%,"11,100","3,800","10,400","10,100","10,000","4,100",...,"2,700","9,700","7,700","3,800","5,200","2,100",900,"6,100","35,700","1,500"
40,South Carolina,"42,24,700","5,28,000",12.50%,"2,01,700","46,300","1,21,600","85,700","72,700","63,400",...,"43,700","78,300","63,700","39,200","57,600","23,200","10,500","35,800","4,69,600","5,200"
41,South Dakota,"7,38,700","85,500",11.60%,"31,000","7,100","19,900","14,100","13,400","19,500",...,"4,300","12,600","6,000","6,400","11,300","1,800","2,900","1,300","82,000","1,500"
42,Tennessee,"57,86,900","7,22,100",12.50%,"2,67,100","64,400","1,82,500","1,26,900","81,200","81,800",...,"63,000","1,16,900","76,200","51,700","81,300","31,400","18,200","71,600","6,26,100","11,000"
43,Texas,"2,56,30,900","53,57,800",20.90%,"18,06,400","5,29,500","13,97,000","9,29,300","6,95,600","9,30,800",...,"2,69,500","7,71,700","6,02,300","4,74,300","5,30,500","2,51,000","82,100","9,48,700","39,08,400","58,300"
44,Utah,"29,49,600","3,07,800",10.40%,"72,400","31,000","92,800","66,100","45,400","81,900",...,"22,000","44,200","35,700","25,500","25,900","10,200","5,600","30,800","2,55,600","3,000"
45,Vermont,"5,12,600","21,300",4.20%,"4,300",500,"6,300","5,800","4,500","1,900",...,"1,900","4,400","1,500","2,700","1,900","1,100",0,900,"20,300",700
46,Virginia,"72,37,700","5,87,100",8.10%,"1,77,300","55,700","1,53,100","1,03,700","97,400","87,900",...,"26,000","87,000","74,400","55,000","66,000","34,000","13,600","85,400","4,54,600","18,300"
47,Washington,"64,86,300","4,92,000",7.60%,"1,17,000","36,600","1,25,000","98,100","1,15,300","58,300",...,"29,300","75,800","57,600","46,000","58,500","21,500","8,700","75,200","3,68,600","15,700"
48,West Virginia,"14,12,800","1,17,500",8.30%,"46,200","9,500","25,200","21,200","15,500","13,300",...,"7,200","20,900","8,300","11,000","16,000","4,200","3,000","1,000","1,15,700",800
49,Wisconsin,"48,41,700","3,27,800",6.80%,"87,300","31,500","79,900","69,000","60,100","58,300",...,"36,100","46,400","37,900","29,100","36,500","14,000","6,200","27,400","2,82,700","11,100"
50,Wyoming,"4,74,000","68,000",14.40%,"19,100","7,700","15,300","13,600","12,200","14,500",...,"3,300","9,600","5,200","6,900","11,100","2,300","1,300","2,200","65,800",0
51,US Total,"27,59,83,800","2,89,06,000",10.50%,"95,37,200","25,48,200","72,71,200","52,35,400","43,14,000","41,89,300",...,"18,22,600","45,14,900","33,64,300","25,46,800","31,54,000","13,36,800","5,93,000","38,98,300","2,27,12,400","7,50,100"

In [ ]:
#replacing the missing value
df = df.fillna('')
df

,State Name,Non-Elderly Population,Non-Elderly Uninsured Population,Non-Elderly Percent Uninsured,HIU Income < 100% FPL,HIU Income 100-138% FPL,HIU Income 139-249% FPL,HIU Income 250-400% FPL,HIU Income 400% FPL,Age 0-18,...,Employed in Manufacturing Industry,Employed in Trade Industry,Employed in Info/Finance Industry,Employed in Education/Health Industry,Employed in Entertainment Industry,Employed in Service Industry,Employed in Military/Public Industry,No English Speaking Adults in HH,English Speaker,Other Language Spoken in HH
0,Alabama,"41,55,300","5,21,500",12.50%,"2,34,300","56,200","1,10,100","74,200","46,700","50,900",...,"50,400","83,500","48,100","41,300","63,500","22,500","13,800","30,600","4,78,100","2,200"
1,Alaska,"6,35,600","75,000",11.80%,"21,400","4,800","18,200","16,500","14,200","13,500",...,"2,300","9,700","6,500","8,100","10,200","2,700","4,400","2,000","71,600","1,000"
2,Arizona,"59,40,000","7,84,400",13.20%,"2,26,000","64,400","1,97,600","1,59,500","1,36,900","1,46,700",...,"39,300","1,14,000","1,06,500","66,000","82,200","34,700","16,100","85,400","6,25,000","10,000"
3,Arkansas,"25,01,200","2,90,900",11.60%,"1,01,100","25,400","83,900","51,800","28,800","40,800",...,"27,300","42,700","23,600","31,500","21,500","15,200","5,400","21,500","2,53,000","4,900"
4,California,"3,32,73,200","27,48,900",8.30%,"8,91,800","2,41,400","7,06,900","5,04,200","4,04,700","3,27,700",...,"1,50,600","4,39,900","3,28,000","2,24,100","2,98,800","1,30,400","69,700","5,29,500","17,52,200","61,900"
5,Colorado,"49,30,600","4,66,400",9.50%,"1,19,200","30,900","1,13,900","1,02,400","1,00,000","61,100",...,"22,800","71,300","58,800","35,600","54,900","28,700","7,300","57,500","3,65,400","9,300"
6,Connecticut,"29,55,300","1,81,200",6.10%,"43,000","16,300","43,400","35,800","42,800","20,400",...,"10,700","30,100","26,900","20,800","20,000","9,900","5,300","45,500","1,19,100","12,200"
7,Delaware,"8,04,200","60,300",7.50%,"18,200","3,800","12,300","14,200","11,800","7,300",...,"4,500","11,200","7,000","4,200","7,400","2,200","1,000","7,500","48,200","1,000"
8,District of Columbia,"5,84,500","24,300",4.20%,"10,600",800,"5,400","2,600","4,900","5,500",...,0,"3,300","3,900","1,500","4,600","1,400",900,"2,700","19,800","1,300"
9,Florida,"1,71,82,000","26,82,500",15.60%,"9,08,400","2,25,100","6,63,900","4,90,400","3,94,600","3,33,800",...,"90,100","4,12,600","3,96,100","2,30,300","3,08,600","1,28,500","47,400","3,68,900","21,09,300","91,000"
10,Georgia,"92,13,900","14,11,600",15.30%,"5,52,300","1,13,100","3,54,800","2,20,600","1,70,800","1,76,900",...,"1,05,200","2,30,000","1,67,000","1,04,100","1,47,700","67,500","29,000","1,28,200","12,12,200","21,100"
11,Hawaii,"11,59,100","50,800",4.40%,"20,600","4,400","11,200","7,200","7,400","8,100",...,400,"8,100","6,500","5,500","8,300","1,700","1,500","5,300","41,300","4,200"
12,Idaho,"15,86,000","1,62,400",10.20%,"41,400","14,300","47,100","32,600","27,000","32,300",...,"9,900","22,500","18,800","14,800","19,100","6,100","2,600","13,100","1,40,900","1,600"
13,Illinois,"1,05,66,100","8,73,300",8.30%,"2,73,800","67,800","2,27,300","1,63,100","1,41,300","93,300",...,"88,500","1,54,400","1,00,400","81,200","1,03,400","37,500","21,400","1,34,200","6,35,800","44,100"
14,Indiana,"56,89,300","5,10,300",9.00%,"1,43,300","39,300","1,38,000","1,08,000","81,700","98,100",...,"61,200","74,800","49,400","41,900","51,500","23,800","8,400","38,000","4,54,000","24,000"
15,Iowa,"26,25,700","1,60,700",6.10%,"48,200","17,300","33,200","32,600","29,500","27,800",...,"17,300","20,600","17,700","17,300","18,900","4,800","4,300","15,500","1,37,700","6,900"
16,Kansas,"24,46,300","2,69,500",11.00%,"87,900","26,700","73,300","43,900","37,800","38,500",...,"22,900","44,800","27,200","27,100","38,700","11,000","6,800","33,000","2,28,200","3,200"
17,Kentucky,"37,40,800","2,58,000",6.90%,"93,300","26,500","60,600","44,700","32,800","38,800",...,"26,600","46,900","25,900","15,700","26,900","10,200","4,800","30,900","2,19,000","13,000"
18,Louisiana,"38,56,000","3,75,300",9.70%,"1,46,700","29,800","89,500","55,800","53,500","45,300",...,"15,800","60,700","38,600","30,200","36,400","14,600","8,500","42,700","3,28,100","5,200"
19,Maine,"10,74,000","76,000",7.10%,"20,800","3,800","18,300","18,900","14,300","9,400",...,"3,900","12,200","10,100","7,900","8,300","4,200","2,100",900,"75,000",900
20,Maryland,"51,62,200","3,74,800",7.30%,"1,28,000","29,700","85,500","61,700","70,000","64,600",...,"12,800","56,400","50,100","32,600","38,300","17,500","9,200","78,300","2,59,400","14,900"
21,Massachusetts,"57,66,500","1,68,700",2.90%,"51,400","10,900","32,600","35,000","38,900","16,300",...,"7,400","30,200","23,000","20,600","20,400","7,400","5,100","24,600","1,27,500","17,900"
22,Michigan,"82,25,800","5,26,900",6.40%,"1,60,300","37,700","1,40,500","1,07,800","80,600","74,700",...,"61,100","84,700","57,000","47,400","56,000","22,800","10,200","20,800","4,80,800","16,800"
23,Minnesota,"47,44,000","2,46,400",5.20%,"55,100","22,900","62,800","54,400","51,100","43,300",...,"22,100","34,200","27,200","30,200","25,900","11,900","4,300","21,700","2,14,800","7,800"
24,Mississippi,"24,53,300","3,73,200",15.20%,"1,72,900","36,900","79,000","51,000","33,500","48,800",...,"26,300","60,600","30,900","29,400","39,700","18,300","11,500","15,900","3,53,500","1,900"
25,Missouri,"50,83,200","5,78,000",11.40%,"2,06,100","50,300","1,47,400","96,300","78,000","85,500",...,"43,400","96,600","57,400","62,900","72,700","27,600","10,300","24,700","5,43,300","9,900"
26,Montana,"8,87,200","87,100",9.80%,"20,500","8,800","22,300","16,500","19,000","19,300",...,"2,200","12,300","9,800","6,500","11,600","3,800","3,300","3,100","83,700","1,200"
27,Nebraska,"16,40,500","1,38,900",8.50%,"40,000","20,600","37,700","20,900","19,700","27,600",...,"11,000","20,000","13,600","12,300","16,400","4,400","3,600","21,200","1,11,500","2,600"
28,Nevada,"26,25,300","3,55,800",13.60%,"99,000","41,100","95,900","69,000","51,000","63,800",...,"11,500","51,200","46,600","19,600","57,200","15,000","7,300","46,300","2,70,600","4,900"
29,New Hampshire,"11,22,200","68,100",6.10%,"17,000","4,400","12,000","15,200","19,500","10,600",...,"6,600","11,300","8,200","5,900","8,900","3,100","1,400","4,100","61,700","3,500"
30,New Jersey,"77,02,700","6,57,100",8.50%,"2,00,300","58,000","1,73,300","1,16,300","1,09,300","76,200",...,"42,700","1,23,500","81,600","58,100","66,300","36,700","19,500","1,77,300","3,85,600","43,400"
31,New Mexico,"17,25,800","2,09,500",12.10%,"72,400","24,300","52,000","33,600","27,200","35,300",...,"5,500","25,700","18,000","22,800","24,300","9,200","6,600","36,400","1,61,100","7,200"
32,New York,"1,63,58,200","10,08,700",6.20%,"3,28,200","73,200","2,20,300","1,94,400","1,92,700","1,20,200",...,"41,000","1,59,500","1,33,700","1,17,500","1,10,200","53,400","24,500","1,93,900","7,05,300","54,900"
33,North Carolina,"87,52,300","10,88,500",12.40%,"3,69,400","1,05,800","2,74,400","2,02,800","1,36,000","1,33,000",...,"86,400","1,67,600","1,19,800","90,000","1,18,500","47,600","20,100","1,34,100","8,92,100","15,600"
34,North Dakota,"6,51,500","57,200",8.80%,"15,000","3,100","16,500","10,500","12,100","13,500",...,"1,400","9,700","4,200","5,300","9,100","1,800",700,"1,500","55,200",800
35,Ohio,"96,76,600","7,80,900",8.10%,"2,44,100","57,200","2,05,200","1,52,000","1,22,500","1,40,300",...,"70,800","1,40,200","78,000","76,900","82,000","34,800","11,500","58,500","7,01,200","41,600"
36,Oklahoma,"33,41,200","5,54,400",16.60%,"2,00,600","52,400","1,39,600","87,900","73,900","72,500",...,"35,400","92,700","59,100","51,000","62,700","21,600","11,000","32,300","4,98,900","4,600"
37,Oregon,"34,56,300","2,62,300",7.60%,"73,200","21,600","66,600","55,500","45,500","31,400",...,"18,500","40,900","32,200","23,900","34,600","13,400","5,900","31,500","2,12,900","5,900"
38,Pennsylvania,"1,04,98,400","7,25,400",6.90%,"2,40,900","53,700","1,70,100","1,31,900","1,28,900","1,20,300",...,"57,500","1,27,000","70,300","73,300","66,300","31,700","13,300","92,600","5,94,200","48,700"
39,Rhode Island,"8,95,800","45,500",5.10%,"11,100","3,800","10,400","10,100","10,000","4,100",...,"2,700","9,700","7,700","3,800","5,200","2,100",900,"6,100","35,700","1,500"
40,South Carolina,"42,24,700","5,28,000",12.50%,"2,01,700","46,300","1,21,600","85,700","72,700","63,400",...,"43,700","78,300","63,700","39,200","57,600","23,200","10,500","35,800","4,69,600","5,200"
41,South Dakota,"7,38,700","85,500",11.60%,"31,000","7,100","19,900","14,100","13,400","19,500",...,"4,300","12,600","6,000","6,400","11,300","1,800","2,900","1,300","82,000","1,500"
42,Tennessee,"57,86,900","7,22,100",12.50%,"2,67,100","64,400","1,82,500","1,26,900","81,200","81,800",...,"63,000","1,16,900","76,200","51,700","81,300","31,400","18,200","71,600","6,26,100","11,000"
43,Texas,"2,56,30,900","53,57,800",20.90%,"18,06,400","5,29,500","13,97,000","9,29,300","6,95,600","9,30,800",...,"2,69,500","7,71,700","6,02,300","4,74,300","5,30,500","2,51,000","82,100","9,48,700","39,08,400","58,300"
44,Utah,"29,49,600","3,07,800",10.40%,"72,400","31,000","92,800","66,100","45,400","81,900",...,"22,000","44,200","35,700","25,500","25,900","10,200","5,600","30,800","2,55,600","3,000"
45,Vermont,"5,12,600","21,300",4.20%,"4,300",500,"6,300","5,800","4,500","1,900",...,"1,900","4,400","1,500","2,700","1,900","1,100",0,900,"20,300",700
46,Virginia,"72,37,700","5,87,100",8.10%,"1,77,300","55,700","1,53,100","1,03,700","97,400","87,900",...,"26,000","87,000","74,400","55,000","66,000","34,000","13,600","85,400","4,54,600","18,300"
47,Washington,"64,86,300","4,92,000",7.60%,"1,17,000","36,600","1,25,000","98,100","1,15,300","58,300",...,"29,300","75,800","57,600","46,000","58,500","21,500","8,700","75,200","3,68,600","15,700"
48,West Virginia,"14,12,800","1,17,500",8.30%,"46,200","9,500","25,200","21,200","15,500","13,300",...,"7,200","20,900","8,300","11,000","16,000","4,200","3,000","1,000","1,15,700",800
49,Wisconsin,"48,41,700","3,27,800",6.80%,"87,300","31,500","79,900","69,000","60,100","58,300",...,"36,100","46,400","37,900","29,100","36,500","14,000","6,200","27,400","2,82,700","11,100"
50,Wyoming,"4,74,000","68,000",14.40%,"19,100","7,700","15,300","13,600","12,200","14,500",...,"3,300","9,600","5,200","6,900","11,100","2,300","1,300","2,200","65,800",0
51,US Total,"27,59,83,800","2,89,06,000",10.50%,"95,37,200","25,48,200","72,71,200","52,35,400","43,14,000","41,89,300",...,"18,22,600","45,14,900","33,64,300","25,46,800","31,54,000","13,36,800","5,93,000","38,98,300","2,27,12,400","7,50,100"

In [ ]:
# Strip leading and trailing whitespace and convert to capital letters
df['State Name'] = df['State Name'].str.strip().str.upper()
df

,State Name,Non-Elderly Population,Non-Elderly Uninsured Population,Non-Elderly Percent Uninsured,HIU Income < 100% FPL,HIU Income 100-138% FPL,HIU Income 139-249% FPL,HIU Income 250-400% FPL,HIU Income 400% FPL,Age 0-18,...,Employed in Manufacturing Industry,Employed in Trade Industry,Employed in Info/Finance Industry,Employed in Education/Health Industry,Employed in Entertainment Industry,Employed in Service Industry,Employed in Military/Public Industry,No English Speaking Adults in HH,English Speaker,Other Language Spoken in HH
0,ALABAMA,"41,55,300","5,21,500",12.50%,"2,34,300","56,200","1,10,100","74,200","46,700","50,900",...,"50,400","83,500","48,100","41,300","63,500","22,500","13,800","30,600","4,78,100","2,200"
1,ALASKA,"6,35,600","75,000",11.80%,"21,400","4,800","18,200","16,500","14,200","13,500",...,"2,300","9,700","6,500","8,100","10,200","2,700","4,400","2,000","71,600","1,000"
2,ARIZONA,"59,40,000","7,84,400",13.20%,"2,26,000","64,400","1,97,600","1,59,500","1,36,900","1,46,700",...,"39,300","1,14,000","1,06,500","66,000","82,200","34,700","16,100","85,400","6,25,000","10,000"
3,ARKANSAS,"25,01,200","2,90,900",11.60%,"1,01,100","25,400","83,900","51,800","28,800","40,800",...,"27,300","42,700","23,600","31,500","21,500","15,200","5,400","21,500","2,53,000","4,900"
4,CALIFORNIA,"3,32,73,200","27,48,900",8.30%,"8,91,800","2,41,400","7,06,900","5,04,200","4,04,700","3,27,700",...,"1,50,600","4,39,900","3,28,000","2,24,100","2,98,800","1,30,400","69,700","5,29,500","17,52,200","61,900"
5,COLORADO,"49,30,600","4,66,400",9.50%,"1,19,200","30,900","1,13,900","1,02,400","1,00,000","61,100",...,"22,800","71,300","58,800","35,600","54,900","28,700","7,300","57,500","3,65,400","9,300"
6,CONNECTICUT,"29,55,300","1,81,200",6.10%,"43,000","16,300","43,400","35,800","42,800","20,400",...,"10,700","30,100","26,900","20,800","20,000","9,900","5,300","45,500","1,19,100","12,200"
7,DELAWARE,"8,04,200","60,300",7.50%,"18,200","3,800","12,300","14,200","11,800","7,300",...,"4,500","11,200","7,000","4,200","7,400","2,200","1,000","7,500","48,200","1,000"
8,DISTRICT OF COLUMBIA,"5,84,500","24,300",4.20%,"10,600",800,"5,400","2,600","4,900","5,500",...,0,"3,300","3,900","1,500","4,600","1,400",900,"2,700","19,800","1,300"
9,FLORIDA,"1,71,82,000","26,82,500",15.60%,"9,08,400","2,25,100","6,63,900","4,90,400","3,94,600","3,33,800",...,"90,100","4,12,600","3,96,100","2,30,300","3,08,600","1,28,500","47,400","3,68,900","21,09,300","91,000"
10,GEORGIA,"92,13,900","14,11,600",15.30%,"5,52,300","1,13,100","3,54,800","2,20,600","1,70,800","1,76,900",...,"1,05,200","2,30,000","1,67,000","1,04,100","1,47,700","67,500","29,000","1,28,200","12,12,200","21,100"
11,HAWAII,"11,59,100","50,800",4.40%,"20,600","4,400","11,200","7,200","7,400","8,100",...,400,"8,100","6,500","5,500","8,300","1,700","1,500","5,300","41,300","4,200"
12,IDAHO,"15,86,000","1,62,400",10.20%,"41,400","14,300","47,100","32,600","27,000","32,300",...,"9,900","22,500","18,800","14,800","19,100","6,100","2,600","13,100","1,40,900","1,600"
13,ILLINOIS,"1,05,66,100","8,73,300",8.30%,"2,73,800","67,800","2,27,300","1,63,100","1,41,300","93,300",...,"88,500","1,54,400","1,00,400","81,200","1,03,400","37,500","21,400","1,34,200","6,35,800","44,100"
14,INDIANA,"56,89,300","5,10,300",9.00%,"1,43,300","39,300","1,38,000","1,08,000","81,700","98,100",...,"61,200","74,800","49,400","41,900","51,500","23,800","8,400","38,000","4,54,000","24,000"
15,IOWA,"26,25,700","1,60,700",6.10%,"48,200","17,300","33,200","32,600","29,500","27,800",...,"17,300","20,600","17,700","17,300","18,900","4,800","4,300","15,500","1,37,700","6,900"
16,KANSAS,"24,46,300","2,69,500",11.00%,"87,900","26,700","73,300","43,900","37,800","38,500",...,"22,900","44,800","27,200","27,100","38,700","11,000","6,800","33,000","2,28,200","3,200"
17,KENTUCKY,"37,40,800","2,58,000",6.90%,"93,300","26,500","60,600","44,700","32,800","38,800",...,"26,600","46,900","25,900","15,700","26,900","10,200","4,800","30,900","2,19,000","13,000"
18,LOUISIANA,"38,56,000","3,75,300",9.70%,"1,46,700","29,800","89,500","55,800","53,500","45,300",...,"15,800","60,700","38,600","30,200","36,400","14,600","8,500","42,700","3,28,100","5,200"
19,MAINE,"10,74,000","76,000",7.10%,"20,800","3,800","18,300","18,900","14,300","9,400",...,"3,900","12,200","10,100","7,900","8,300","4,200","2,100",900,"75,000",900
20,MARYLAND,"51,62,200","3,74,800",7.30%,"1,28,000","29,700","85,500","61,700","70,000","64,600",...,"12,800","56,400","50,100","32,600","38,300","17,500","9,200","78,300","2,59,400","14,900"
21,MASSACHUSETTS,"57,66,500","1,68,700",2.90%,"51,400","10,900","32,600","35,000","38,900","16,300",...,"7,400","30,200","23,000","20,600","20,400","7,400","5,100","24,600","1,27,500","17,900"
22,MICHIGAN,"82,25,800","5,26,900",6.40%,"1,60,300","37,700","1,40,500","1,07,800","80,600","74,700",...,"61,100","84,700","57,000","47,400","56,000","22,800","10,200","20,800","4,80,800","16,800"
23,MINNESOTA,"47,44,000","2,46,400",5.20%,"55,100","22,900","62,800","54,400","51,100","43,300",...,"22,100","34,200","27,200","30,200","25,900","11,900","4,300","21,700","2,14,800","7,800"
24,MISSISSIPPI,"24,53,300","3,73,200",15.20%,"1,72,900","36,900","79,000","51,000","33,500","48,800",...,"26,300","60,600","30,900","29,400","39,700","18,300","11,500","15,900","3,53,500","1,900"
25,MISSOURI,"50,83,200","5,78,000",11.40%,"2,06,100","50,300","1,47,400","96,300","78,000","85,500",...,"43,400","96,600","57,400","62,900","72,700","27,600","10,300","24,700","5,43,300","9,900"
26,MONTANA,"8,87,200","87,100",9.80%,"20,500","8,800","22,300","16,500","19,000","19,300",...,"2,200","12,300","9,800","6,500","11,600","3,800","3,300","3,100","83,700","1,200"
27,NEBRASKA,"16,40,500","1,38,900",8.50%,"40,000","20,600","37,700","20,900","19,700","27,600",...,"11,000","20,000","13,600","12,300","16,400","4,400","3,600","21,200","1,11,500","2,600"
28,NEVADA,"26,25,300","3,55,800",13.60%,"99,000","41,100","95,900","69,000","51,000","63,800",...,"11,500","51,200","46,600","19,600","57,200","15,000","7,300","46,300","2,70,600","4,900"
29,NEW HAMPSHIRE,"11,22,200","68,100",6.10%,"17,000","4,400","12,000","15,200","19,500","10,600",...,"6,600","11,300","8,200","5,900","8,900","3,100","1,400","4,100","61,700","3,500"
30,NEW JERSEY,"77,02,700","6,57,100",8.50%,"2,00,300","58,000","1,73,300","1,16,300","1,09,300","76,200",...,"42,700","1,23,500","81,600","58,100","66,300","36,700","19,500","1,77,300","3,85,600","43,400"
31,NEW MEXICO,"17,25,800","2,09,500",12.10%,"72,400","24,300","52,000","33,600","27,200","35,300",...,"5,500","25,700","18,000","22,800","24,300","9,200","6,600","36,400","1,61,100","7,200"
32,NEW YORK,"1,63,58,200","10,08,700",6.20%,"3,28,200","73,200","2,20,300","1,94,400","1,92,700","1,20,200",...,"41,000","1,59,500","1,33,700","1,17,500","1,10,200","53,400","24,500","1,93,900","7,05,300","54,900"
33,NORTH CAROLINA,"87,52,300","10,88,500",12.40%,"3,69,400","1,05,800","2,74,400","2,02,800","1,36,000","1,33,000",...,"86,400","1,67,600","1,19,800","90,000","1,18,500","47,600","20,100","1,34,100","8,92,100","15,600"
34,NORTH DAKOTA,"6,51,500","57,200",8.80%,"15,000","3,100","16,500","10,500","12,100","13,500",...,"1,400","9,700","4,200","5,300","9,100","1,800",700,"1,500","55,200",800
35,OHIO,"96,76,600","7,80,900",8.10%,"2,44,100","57,200","2,05,200","1,52,000","1,22,500","1,40,300",...,"70,800","1,40,200","78,000","76,900","82,000","34,800","11,500","58,500","7,01,200","41,600"
36,OKLAHOMA,"33,41,200","5,54,400",16.60%,"2,00,600","52,400","1,39,600","87,900","73,900","72,500",...,"35,400","92,700","59,100","51,000","62,700","21,600","11,000","32,300","4,98,900","4,600"
37,OREGON,"34,56,300","2,62,300",7.60%,"73,200","21,600","66,600","55,500","45,500","31,400",...,"18,500","40,900","32,200","23,900","34,600","13,400","5,900","31,500","2,12,900","5,900"
38,PENNSYLVANIA,"1,04,98,400","7,25,400",6.90%,"2,40,900","53,700","1,70,100","1,31,900","1,28,900","1,20,300",...,"57,500","1,27,000","70,300","73,300","66,300","31,700","13,300","92,600","5,94,200","48,700"
39,RHODE ISLAND,"8,95,800","45,500",5.10%,"11,100","3,800","10,400","10,100","10,000","4,100",...,"2,700","9,700","7,700","3,800","5,200","2,100",900,"6,100","35,700","1,500"
40,SOUTH CAROLINA,"42,24,700","5,28,000",12.50%,"2,01,700","46,300","1,21,600","85,700","72,700","63,400",...,"43,700","78,300","63,700","39,200","57,600","23,200","10,500","35,800","4,69,600","5,200"
41,SOUTH DAKOTA,"7,38,700","85,500",11.60%,"31,000","7,100","19,900","14,100","13,400","19,500",...,"4,300","12,600","6,000","6,400","11,300","1,800","2,900","1,300","82,000","1,500"
42,TENNESSEE,"57,86,900","7,22,100",12.50%,"2,67,100","64,400","1,82,500","1,26,900","81,200","81,800",...,"63,000","1,16,900","76,200","51,700","81,300","31,400","18,200","71,600","6,26,100","11,000"
43,TEXAS,"2,56,30,900","53,57,800",20.90%,"18,06,400","5,29,500","13,97,000","9,29,300","6,95,600","9,30,800",...,"2,69,500","7,71,700","6,02,300","4,74,300","5,30,500","2,51,000","82,100","9,48,700","39,08,400","58,300"
44,UTAH,"29,49,600","3,07,800",10.40%,"72,400","31,000","92,800","66,100","45,400","81,900",...,"22,000","44,200","35,700","25,500","25,900","10,200","5,600","30,800","2,55,600","3,000"
45,VERMONT,"5,12,600","21,300",4.20%,"4,300",500,"6,300","5,800","4,500","1,900",...,"1,900","4,400","1,500","2,700","1,900","1,100",0,900,"20,300",700
46,VIRGINIA,"72,37,700","5,87,100",8.10%,"1,77,300","55,700","1,53,100","1,03,700","97,400","87,900",...,"26,000","87,000","74,400","55,000","66,000","34,000","13,600","85,400","4,54,600","18,300"
47,WASHINGTON,"64,86,300","4,92,000",7.60%,"1,17,000","36,600","1,25,000","98,100","1,15,300","58,300",...,"29,300","75,800","57,600","46,000","58,500","21,500","8,700","75,200","3,68,600","15,700"
48,WEST VIRGINIA,"14,12,800","1,17,500",8.30%,"46,200","9,500","25,200","21,200","15,500","13,300",...,"7,200","20,900","8,300","11,000","16,000","4,200","3,000","1,000","1,15,700",800
49,WISCONSIN,"48,41,700","3,27,800",6.80%,"87,300","31,500","79,900","69,000","60,100","58,300",...,"36,100","46,400","37,900","29,100","36,500","14,000","6,200","27,400","2,82,700","11,100"
50,WYOMING,"4,74,000","68,000",14.40%,"19,100","7,700","15,300","13,600","12,200","14,500",...,"3,300","9,600","5,200","6,900","11,100","2,300","1,300","2,200","65,800",0
51,US TOTAL,"27,59,83,800","2,89,06,000",10.50%,"95,37,200","25,48,200","72,71,200","52,35,400","43,14,000","41,89,300",...,"18,22,600","45,14,900","33,64,300","25,46,800","31,54,000","13,36,800","5,93,000","38,98,300","2,27,12,400","7,50,100"

In [ ]:
# Deleting rows containing 'USTOTAL'
df = df[df.ne('US TOTAL').all(axis=1)]

# Resetting the index
df.reset_index(drop=True, inplace=True)
df

,State Name,Non-Elderly Population,Non-Elderly Uninsured Population,Non-Elderly Percent Uninsured,HIU Income < 100% FPL,HIU Income 100-138% FPL,HIU Income 139-249% FPL,HIU Income 250-400% FPL,HIU Income 400% FPL,Age 0-18,...,Employed in Manufacturing Industry,Employed in Trade Industry,Employed in Info/Finance Industry,Employed in Education/Health Industry,Employed in Entertainment Industry,Employed in Service Industry,Employed in Military/Public Industry,No English Speaking Adults in HH,English Speaker,Other Language Spoken in HH
0,ALABAMA,"41,55,300","5,21,500",12.50%,"2,34,300","56,200","1,10,100","74,200","46,700","50,900",...,"50,400","83,500","48,100","41,300","63,500","22,500","13,800","30,600","4,78,100","2,200"
1,ALASKA,"6,35,600","75,000",11.80%,"21,400","4,800","18,200","16,500","14,200","13,500",...,"2,300","9,700","6,500","8,100","10,200","2,700","4,400","2,000","71,600","1,000"
2,ARIZONA,"59,40,000","7,84,400",13.20%,"2,26,000","64,400","1,97,600","1,59,500","1,36,900","1,46,700",...,"39,300","1,14,000","1,06,500","66,000","82,200","34,700","16,100","85,400","6,25,000","10,000"
3,ARKANSAS,"25,01,200","2,90,900",11.60%,"1,01,100","25,400","83,900","51,800","28,800","40,800",...,"27,300","42,700","23,600","31,500","21,500","15,200","5,400","21,500","2,53,000","4,900"
4,CALIFORNIA,"3,32,73,200","27,48,900",8.30%,"8,91,800","2,41,400","7,06,900","5,04,200","4,04,700","3,27,700",...,"1,50,600","4,39,900","3,28,000","2,24,100","2,98,800","1,30,400","69,700","5,29,500","17,52,200","61,900"
5,COLORADO,"49,30,600","4,66,400",9.50%,"1,19,200","30,900","1,13,900","1,02,400","1,00,000","61,100",...,"22,800","71,300","58,800","35,600","54,900","28,700","7,300","57,500","3,65,400","9,300"
6,CONNECTICUT,"29,55,300","1,81,200",6.10%,"43,000","16,300","43,400","35,800","42,800","20,400",...,"10,700","30,100","26,900","20,800","20,000","9,900","5,300","45,500","1,19,100","12,200"
7,DELAWARE,"8,04,200","60,300",7.50%,"18,200","3,800","12,300","14,200","11,800","7,300",...,"4,500","11,200","7,000","4,200","7,400","2,200","1,000","7,500","48,200","1,000"
8,DISTRICT OF COLUMBIA,"5,84,500","24,300",4.20%,"10,600",800,"5,400","2,600","4,900","5,500",...,0,"3,300","3,900","1,500","4,600","1,400",900,"2,700","19,800","1,300"
9,FLORIDA,"1,71,82,000","26,82,500",15.60%,"9,08,400","2,25,100","6,63,900","4,90,400","3,94,600","3,33,800",...,"90,100","4,12,600","3,96,100","2,30,300","3,08,600","1,28,500","47,400","3,68,900","21,09,300","91,000"
10,GEORGIA,"92,13,900","14,11,600",15.30%,"5,52,300","1,13,100","3,54,800","2,20,600","1,70,800","1,76,900",...,"1,05,200","2,30,000","1,67,000","1,04,100","1,47,700","67,500","29,000","1,28,200","12,12,200","21,100"
11,HAWAII,"11,59,100","50,800",4.40%,"20,600","4,400","11,200","7,200","7,400","8,100",...,400,"8,100","6,500","5,500","8,300","1,700","1,500","5,300","41,300","4,200"
12,IDAHO,"15,86,000","1,62,400",10.20%,"41,400","14,300","47,100","32,600","27,000","32,300",...,"9,900","22,500","18,800","14,800","19,100","6,100","2,600","13,100","1,40,900","1,600"
13,ILLINOIS,"1,05,66,100","8,73,300",8.30%,"2,73,800","67,800","2,27,300","1,63,100","1,41,300","93,300",...,"88,500","1,54,400","1,00,400","81,200","1,03,400","37,500","21,400","1,34,200","6,35,800","44,100"
14,INDIANA,"56,89,300","5,10,300",9.00%,"1,43,300","39,300","1,38,000","1,08,000","81,700","98,100",...,"61,200","74,800","49,400","41,900","51,500","23,800","8,400","38,000","4,54,000","24,000"
15,IOWA,"26,25,700","1,60,700",6.10%,"48,200","17,300","33,200","32,600","29,500","27,800",...,"17,300","20,600","17,700","17,300","18,900","4,800","4,300","15,500","1,37,700","6,900"
16,KANSAS,"24,46,300","2,69,500",11.00%,"87,900","26,700","73,300","43,900","37,800","38,500",...,"22,900","44,800","27,200","27,100","38,700","11,000","6,800","33,000","2,28,200","3,200"
17,KENTUCKY,"37,40,800","2,58,000",6.90%,"93,300","26,500","60,600","44,700","32,800","38,800",...,"26,600","46,900","25,900","15,700","26,900","10,200","4,800","30,900","2,19,000","13,000"
18,LOUISIANA,"38,56,000","3,75,300",9.70%,"1,46,700","29,800","89,500","55,800","53,500","45,300",...,"15,800","60,700","38,600","30,200","36,400","14,600","8,500","42,700","3,28,100","5,200"
19,MAINE,"10,74,000","76,000",7.10%,"20,800","3,800","18,300","18,900","14,300","9,400",...,"3,900","12,200","10,100","7,900","8,300","4,200","2,100",900,"75,000",900
20,MARYLAND,"51,62,200","3,74,800",7.30%,"1,28,000","29,700","85,500","61,700","70,000","64,600",...,"12,800","56,400","50,100","32,600","38,300","17,500","9,200","78,300","2,59,400","14,900"
21,MASSACHUSETTS,"57,66,500","1,68,700",2.90%,"51,400","10,900","32,600","35,000","38,900","16,300",...,"7,400","30,200","23,000","20,600","20,400","7,400","5,100","24,600","1,27,500","17,900"
22,MICHIGAN,"82,25,800","5,26,900",6.40%,"1,60,300","37,700","1,40,500","1,07,800","80,600","74,700",...,"61,100","84,700","57,000","47,400","56,000","22,800","10,200","20,800","4,80,800","16,800"
23,MINNESOTA,"47,44,000","2,46,400",5.20%,"55,100","22,900","62,800","54,400","51,100","43,300",...,"22,100","34,200","27,200","30,200","25,900","11,900","4,300","21,700","2,14,800","7,800"
24,MISSISSIPPI,"24,53,300","3,73,200",15.20%,"1,72,900","36,900","79,000","51,000","33,500","48,800",...,"26,300","60,600","30,900","29,400","39,700","18,300","11,500","15,900","3,53,500","1,900"
25,MISSOURI,"50,83,200","5,78,000",11.40%,"2,06,100","50,300","1,47,400","96,300","78,000","85,500",...,"43,400","96,600","57,400","62,900","72,700","27,600","10,300","24,700","5,43,300","9,900"
26,MONTANA,"8,87,200","87,100",9.80%,"20,500","8,800","22,300","16,500","19,000","19,300",...,"2,200","12,300","9,800","6,500","11,600","3,800","3,300","3,100","83,700","1,200"
27,NEBRASKA,"16,40,500","1,38,900",8.50%,"40,000","20,600","37,700","20,900","19,700","27,600",...,"11,000","20,000","13,600","12,300","16,400","4,400","3,600","21,200","1,11,500","2,600"
28,NEVADA,"26,25,300","3,55,800",13.60%,"99,000","41,100","95,900","69,000","51,000","63,800",...,"11,500","51,200","46,600","19,600","57,200","15,000","7,300","46,300","2,70,600","4,900"
29,NEW HAMPSHIRE,"11,22,200","68,100",6.10%,"17,000","4,400","12,000","15,200","19,500","10,600",...,"6,600","11,300","8,200","5,900","8,900","3,100","1,400","4,100","61,700","3,500"
30,NEW JERSEY,"77,02,700","6,57,100",8.50%,"2,00,300","58,000","1,73,300","1,16,300","1,09,300","76,200",...,"42,700","1,23,500","81,600","58,100","66,300","36,700","19,500","1,77,300","3,85,600","43,400"
31,NEW MEXICO,"17,25,800","2,09,500",12.10%,"72,400","24,300","52,000","33,600","27,200","35,300",...,"5,500","25,700","18,000","22,800","24,300","9,200","6,600","36,400","1,61,100","7,200"
32,NEW YORK,"1,63,58,200","10,08,700",6.20%,"3,28,200","73,200","2,20,300","1,94,400","1,92,700","1,20,200",...,"41,000","1,59,500","1,33,700","1,17,500","1,10,200","53,400","24,500","1,93,900","7,05,300","54,900"
33,NORTH CAROLINA,"87,52,300","10,88,500",12.40%,"3,69,400","1,05,800","2,74,400","2,02,800","1,36,000","1,33,000",...,"86,400","1,67,600","1,19,800","90,000","1,18,500","47,600","20,100","1,34,100","8,92,100","15,600"
34,NORTH DAKOTA,"6,51,500","57,200",8.80%,"15,000","3,100","16,500","10,500","12,100","13,500",...,"1,400","9,700","4,200","5,300","9,100","1,800",700,"1,500","55,200",800
35,OHIO,"96,76,600","7,80,900",8.10%,"2,44,100","57,200","2,05,200","1,52,000","1,22,500","1,40,300",...,"70,800","1,40,200","78,000","76,900","82,000","34,800","11,500","58,500","7,01,200","41,600"
36,OKLAHOMA,"33,41,200","5,54,400",16.60%,"2,00,600","52,400","1,39,600","87,900","73,900","72,500",...,"35,400","92,700","59,100","51,000","62,700","21,600","11,000","32,300","4,98,900","4,600"
37,OREGON,"34,56,300","2,62,300",7.60%,"73,200","21,600","66,600","55,500","45,500","31,400",...,"18,500","40,900","32,200","23,900","34,600","13,400","5,900","31,500","2,12,900","5,900"
38,PENNSYLVANIA,"1,04,98,400","7,25,400",6.90%,"2,40,900","53,700","1,70,100","1,31,900","1,28,900","1,20,300",...,"57,500","1,27,000","70,300","73,300","66,300","31,700","13,300","92,600","5,94,200","48,700"
39,RHODE ISLAND,"8,95,800","45,500",5.10%,"11,100","3,800","10,400","10,100","10,000","4,100",...,"2,700","9,700","7,700","3,800","5,200","2,100",900,"6,100","35,700","1,500"
40,SOUTH CAROLINA,"42,24,700","5,28,000",12.50%,"2,01,700","46,300","1,21,600","85,700","72,700","63,400",...,"43,700","78,300","63,700","39,200","57,600","23,200","10,500","35,800","4,69,600","5,200"
41,SOUTH DAKOTA,"7,38,700","85,500",11.60%,"31,000","7,100","19,900","14,100","13,400","19,500",...,"4,300","12,600","6,000","6,400","11,300","1,800","2,900","1,300","82,000","1,500"
42,TENNESSEE,"57,86,900","7,22,100",12.50%,"2,67,100","64,400","1,82,500","1,26,900","81,200","81,800",...,"63,000","1,16,900","76,200","51,700","81,300","31,400","18,200","71,600","6,26,100","11,000"
43,TEXAS,"2,56,30,900","53,57,800",20.90%,"18,06,400","5,29,500","13,97,000","9,29,300","6,95,600","9,30,800",...,"2,69,500","7,71,700","6,02,300","4,74,300","5,30,500","2,51,000","82,100","9,48,700","39,08,400","58,300"
44,UTAH,"29,49,600","3,07,800",10.40%,"72,400","31,000","92,800","66,100","45,400","81,900",...,"22,000","44,200","35,700","25,500","25,900","10,200","5,600","30,800","2,55,600","3,000"
45,VERMONT,"5,12,600","21,300",4.20%,"4,300",500,"6,300","5,800","4,500","1,900",...,"1,900","4,400","1,500","2,700","1,900","1,100",0,900,"20,300",700
46,VIRGINIA,"72,37,700","5,87,100",8.10%,"1,77,300","55,700","1,53,100","1,03,700","97,400","87,900",...,"26,000","87,000","74,400","55,000","66,000","34,000","13,600","85,400","4,54,600","18,300"
47,WASHINGTON,"64,86,300","4,92,000",7.60%,"1,17,000","36,600","1,25,000","98,100","1,15,300","58,300",...,"29,300","75,800","57,600","46,000","58,500","21,500","8,700","75,200","3,68,600","15,700"
48,WEST VIRGINIA,"14,12,800","1,17,500",8.30%,"46,200","9,500","25,200","21,200","15,500","13,300",...,"7,200","20,900","8,300","11,000","16,000","4,200","3,000","1,000","1,15,700",800
49,WISCONSIN,"48,41,700","3,27,800",6.80%,"87,300","31,500","79,900","69,000","60,100","58,300",...,"36,100","46,400","37,900","29,100","36,500","14,000","6,200","27,400","2,82,700","11,100"
50,WYOMING,"4,74,000","68,000",14.40%,"19,100","7,700","15,300","13,600","12,200","14,500",...,"3,300","9,600","5,200","6,900","11,100","2,300","1,300","2,200","65,800",0

In [ ]:
#Remove leading whitespace and update the DataFrame
df['Non-Elderly Unisured Population'] = df['Non-Elderly Uninsured Population'].str.lstrip()

<ipython-input-711-c0e3f9777b27>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Non-Elderly Unisured Population'] = df['Non-Elderly Uninsured Population'].str.lstrip()

In [ ]:
# coverting data from 'object' to 'float'
columns_to_convert = [
    "Non-Elderly Population",
    "Non-Elderly Uninsured Population",
    "HIU Income < 100% FPL",
    "HIU Income 100-138% FPL",
    "HIU Income 139-249% FPL",
    "HIU Income 250-400% FPL",
    "HIU Income 400% FPL",
    "Age 0-18",
    "Age 19-34",
    "Age 35-49",
    "Age 50-64",
    "Male",
    "Female",
    "Less than High School",
    "High_School",
    "College Grad",
    "Married",
    "Got married in last 12 months",
    "Gave birth in last 12 months",
    "Child in Family",
    "Spanish/Hispanic/Latino Origin",
    "White Non-Latino",
    "Black Non-Latino",
    "Asian / Native-Hawaiian / Pac Islander",
    "American Indian / Alaska Native",
    "Multi-racial or Other",
    "Internet Access in HH",
    "Cellular data plan for mobile device in HH",
    "High Speed Internet service in HH",
    "SNAP Recipient",
    "Disabled",
    "Full-time Worker in Family",
    "Self-Employed, Incorporated",
    "Self-Employed, Unincorporated",
    "Employed in Agriculture Industry",
    "Employed in Mining/Construction Industry",
    "Employed in Manufacturing Industry",
    "Employed in Trade Industry",
    "Employed in Info/Finance Industry",
    "Employed in Education/Health Industry",
    "Employed in Entertainment Industry",
    "Employed in Service Industry",
    "Employed in Military/Public Industry",
    "No English Speaking Adults in HH",
    "English Speaker",
    "Other Language Spoken in HH"
]

for column in columns_to_convert:
    if df[column].dtype == 'object':
        try:
            df[column] = df[column].str.replace(',', '').astype(float)
        except ValueError as e:
            print(f"Error converting column '{column}': {e}")

df["Non-Elderly Percent Uninsured"] = df["Non-Elderly Percent Uninsured"].str.replace('%', '').astype(float)

<ipython-input-712-1433ed43f875>:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].str.replace(',', '').astype(float)
<ipython-input-712-1433ed43f875>:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Non-Elderly Percent Uninsured"] = df["Non-Elderly Percent Uninsured"].str.replace('%', '').astype(float)

In [ ]:
# Create the calculated field "Total Children" by combining two columns
df["Total Children"] = df["Gave birth in last 12 months"] + df["Child in Family"]

<ipython-input-713-ee126b37c7f4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Total Children"] = df["Gave birth in last 12 months"] + df["Child in Family"]

In [ ]:
# Create the calculated field "total married" by combining two columns
df["Total married"] = df["Married"] + df["Got married in last 12 months"]
df

<ipython-input-714-6d875010a63c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Total married"] = df["Married"] + df["Got married in last 12 months"]

,State Name,Non-Elderly Population,Non-Elderly Uninsured Population,Non-Elderly Percent Uninsured,HIU Income < 100% FPL,HIU Income 100-138% FPL,HIU Income 139-249% FPL,HIU Income 250-400% FPL,HIU Income 400% FPL,Age 0-18,...,Employed in Education/Health Industry,Employed in Entertainment Industry,Employed in Service Industry,Employed in Military/Public Industry,No English Speaking Adults in HH,English Speaker,Other Language Spoken in HH,Non-Elderly Unisured Population,Total Children,Total married
0,ALABAMA,4155300.0,521500.0,12.5,234300.0,56200.0,110100.0,74200.0,46700.0,50900.0,...,41300.0,63500.0,22500.0,13800.0,30600.0,478100.0,2200.0,"5,21,500",170300.0,156700.0
1,ALASKA,635600.0,75000.0,11.8,21400.0,4800.0,18200.0,16500.0,14200.0,13500.0,...,8100.0,10200.0,2700.0,4400.0,2000.0,71600.0,1000.0,"75,000",26700.0,26700.0
2,ARIZONA,5940000.0,784400.0,13.2,226000.0,64400.0,197600.0,159500.0,136900.0,146700.0,...,66000.0,82200.0,34700.0,16100.0,85400.0,625000.0,10000.0,"7,84,400",340400.0,256300.0
3,ARKANSAS,2501200.0,290900.0,11.6,101100.0,25400.0,83900.0,51800.0,28800.0,40800.0,...,31500.0,21500.0,15200.0,5400.0,21500.0,253000.0,4900.0,"2,90,900",124200.0,100700.0
4,CALIFORNIA,33273200.0,2748900.0,8.3,891800.0,241400.0,706900.0,504200.0,404700.0,327700.0,...,224100.0,298800.0,130400.0,69700.0,529500.0,1752200.0,61900.0,"27,48,900",1028500.0,956900.0
5,COLORADO,4930600.0,466400.0,9.5,119200.0,30900.0,113900.0,102400.0,100000.0,61100.0,...,35600.0,54900.0,28700.0,7300.0,57500.0,365400.0,9300.0,"4,66,400",182400.0,174400.0
6,CONNECTICUT,2955300.0,181200.0,6.1,43000.0,16300.0,43400.0,35800.0,42800.0,20400.0,...,20800.0,20000.0,9900.0,5300.0,45500.0,119100.0,12200.0,"1,81,200",75800.0,67800.0
7,DELAWARE,804200.0,60300.0,7.5,18200.0,3800.0,12300.0,14200.0,11800.0,7300.0,...,4200.0,7400.0,2200.0,1000.0,7500.0,48200.0,1000.0,"60,300",23800.0,17500.0
8,DISTRICT OF COLUMBIA,584500.0,24300.0,4.2,10600.0,800.0,5400.0,2600.0,4900.0,5500.0,...,1500.0,4600.0,1400.0,900.0,2700.0,19800.0,1300.0,"24,300",7800.0,4300.0
9,FLORIDA,17182000.0,2682500.0,15.6,908400.0,225100.0,663900.0,490400.0,394600.0,333800.0,...,230300.0,308600.0,128500.0,47400.0,368900.0,2109300.0,91000.0,"26,82,500",956200.0,830400.0
10,GEORGIA,9213900.0,1411600.0,15.3,552300.0,113100.0,354800.0,220600.0,170800.0,176900.0,...,104100.0,147700.0,67500.0,29000.0,128200.0,1212200.0,21100.0,"14,11,600",547000.0,414900.0
11,HAWAII,1159100.0,50800.0,4.4,20600.0,4400.0,11200.0,7200.0,7400.0,8100.0,...,5500.0,8300.0,1700.0,1500.0,5300.0,41300.0,4200.0,"50,800",16100.0,17500.0
12,IDAHO,1586000.0,162400.0,10.2,41400.0,14300.0,47100.0,32600.0,27000.0,32300.0,...,14800.0,19100.0,6100.0,2600.0,13100.0,140900.0,1600.0,"1,62,400",73500.0,62600.0
13,ILLINOIS,10566100.0,873300.0,8.3,273800.0,67800.0,227300.0,163100.0,141300.0,93300.0,...,81200.0,103400.0,37500.0,21400.0,134200.0,635800.0,44100.0,"8,73,300",340200.0,294700.0
14,INDIANA,5689300.0,510300.0,9.0,143300.0,39300.0,138000.0,108000.0,81700.0,98100.0,...,41900.0,51500.0,23800.0,8400.0,38000.0,454000.0,24000.0,"5,10,300",227800.0,157700.0
15,IOWA,2625700.0,160700.0,6.1,48200.0,17300.0,33200.0,32600.0,29500.0,27800.0,...,17300.0,18900.0,4800.0,4300.0,15500.0,137700.0,6900.0,"1,60,700",69500.0,53200.0
16,KANSAS,2446300.0,269500.0,11.0,87900.0,26700.0,73300.0,43900.0,37800.0,38500.0,...,27100.0,38700.0,11000.0,6800.0,33000.0,228200.0,3200.0,"2,69,500",115900.0,90000.0
17,KENTUCKY,3740800.0,258000.0,6.9,93300.0,26500.0,60600.0,44700.0,32800.0,38800.0,...,15700.0,26900.0,10200.0,4800.0,30900.0,219000.0,13000.0,"2,58,000",104400.0,88900.0
18,LOUISIANA,3856000.0,375300.0,9.7,146700.0,29800.0,89500.0,55800.0,53500.0,45300.0,...,30200.0,36400.0,14600.0,8500.0,42700.0,328100.0,5200.0,"3,75,300",130300.0,100300.0
19,MAINE,1074000.0,76000.0,7.1,20800.0,3800.0,18300.0,18900.0,14300.0,9400.0,...,7900.0,8300.0,4200.0,2100.0,900.0,75000.0,900.0,"76,000",24500.0,20800.0
20,MARYLAND,5162200.0,374800.0,7.3,128000.0,29700.0,85500.0,61700.0,70000.0,64600.0,...,32600.0,38300.0,17500.0,9200.0,78300.0,259400.0,14900.0,"3,74,800",158200.0,114300.0
21,MASSACHUSETTS,5766500.0,168700.0,2.9,51400.0,10900.0,32600.0,35000.0,38900.0,16300.0,...,20600.0,20400.0,7400.0,5100.0,24600.0,127500.0,17900.0,"1,68,700",47500.0,49200.0
22,MICHIGAN,8225800.0,526900.0,6.4,160300.0,37700.0,140500.0,107800.0,80600.0,74700.0,...,47400.0,56000.0,22800.0,10200.0,20800.0,480800.0,16800.0,"5,26,900",181200.0,137100.0
23,MINNESOTA,4744000.0,246400.0,5.2,55100.0,22900.0,62800.0,54400.0,51100.0,43300.0,...,30200.0,25900.0,11900.0,4300.0,21700.0,214800.0,7800.0,"2,46,400",99800.0,64900.0
24,MISSISSIPPI,2453300.0,373200.0,15.2,172900.0,36900.0,79000.0,51000.0,33500.0,48800.0,...,29400.0,39700.0,18300.0,11500.0,15900.0,353500.0,1900.0,"3,73,200",138600.0,98000.0
25,MISSOURI,5083200.0,578000.0,11.4,206100.0,50300.0,147400.0,96300.0,78000.0,85500.0,...,62900.0,72700.0,27600.0,10300.0,24700.0,543300.0,9900.0,"5,78,000",232100.0,170400.0
26,MONTANA,887200.0,87100.0,9.8,20500.0,8800.0,22300.0,16500.0,19000.0,19300.0,...,6500.0,11600.0,3800.0,3300.0,3100.0,83700.0,1200.0,"87,100",36800.0,28300.0
27,NEBRASKA,1640500.0,138900.0,8.5,40000.0,20600.0,37700.0,20900.0,19700.0,27600.0,...,12300.0,16400.0,4400.0,3600.0,21200.0,111500.0,2600.0,"1,38,900",65600.0,39800.0
28,NEVADA,2625300.0,355800.0,13.6,99000.0,41100.0,95900.0,69000.0,51000.0,63800.0,...,19600.0,57200.0,15000.0,7300.0,46300.0,270600.0,4900.0,"3,55,800",157800.0,113200.0
29,NEW HAMPSHIRE,1122200.0,68100.0,6.1,17000.0,4400.0,12000.0,15200.0,19500.0,10600.0,...,5900.0,8900.0,3100.0,1400.0,4100.0,61700.0,3500.0,"68,100",27000.0,21400.0
30,NEW JERSEY,7702700.0,657100.0,8.5,200300.0,58000.0,173300.0,116300.0,109300.0,76200.0,...,58100.0,66300.0,36700.0,19500.0,177300.0,385600.0,43400.0,"6,57,100",272500.0,228100.0
31,NEW MEXICO,1725800.0,209500.0,12.1,72400.0,24300.0,52000.0,33600.0,27200.0,35300.0,...,22800.0,24300.0,9200.0,6600.0,36400.0,161100.0,7200.0,"2,09,500",89200.0,67700.0
32,NEW YORK,16358200.0,1008700.0,6.2,328200.0,73200.0,220300.0,194400.0,192700.0,120200.0,...,117500.0,110200.0,53400.0,24500.0,193900.0,705300.0,54900.0,"10,08,700",339600.0,318700.0
33,NORTH CAROLINA,8752300.0,1088500.0,12.4,369400.0,105800.0,274400.0,202800.0,136000.0,133000.0,...,90000.0,118500.0,47600.0,20100.0,134100.0,892100.0,15600.0,"10,88,500",417100.0,339100.0
34,NORTH DAKOTA,651500.0,57200.0,8.8,15000.0,3100.0,16500.0,10500.0,12100.0,13500.0,...,5300.0,9100.0,1800.0,700.0,1500.0,55200.0,800.0,"57,200",21700.0,11200.0
35,OHIO,9676600.0,780900.0,8.1,244100.0,57200.0,205200.0,152000.0,122500.0,140300.0,...,76900.0,82000.0,34800.0,11500.0,58500.0,701200.0,41600.0,"7,80,900",308900.0,210200.0
36,OKLAHOMA,3341200.0,554400.0,16.6,200600.0,52400.0,139600.0,87900.0,73900.0,72500.0,...,51000.0,62700.0,21600.0,11000.0,32300.0,498900.0,4600.0,"5,54,400",226200.0,185300.0
37,OREGON,3456300.0,262300.0,7.6,73200.0,21600.0,66600.0,55500.0,45500.0,31400.0,...,23900.0,34600.0,13400.0,5900.0,31500.0,212900.0,5900.0,"2,62,300",97800.0,85000.0
38,PENNSYLVANIA,10498400.0,725400.0,6.9,240900.0,53700.0,170100.0,131900.0,128900.0,120300.0,...,73300.0,66300.0,31700.0,13300.0,92600.0,594200.0,48700.0,"7,25,400",290100.0,222900.0
39,RHODE ISLAND,895800.0,45500.0,5.1,11100.0,3800.0,10400.0,10100.0,10000.0,4100.0,...,3800.0,5200.0,2100.0,900.0,6100.0,35700.0,1500.0,"45,500",13700.0,17100.0
40,SOUTH CAROLINA,4224700.0,528000.0,12.5,201700.0,46300.0,121600.0,85700.0,72700.0,63400.0,...,39200.0,57600.0,23200.0,10500.0,35800.0,469600.0,5200.0,"5,28,000",187100.0,154800.0
41,SOUTH DAKOTA,738700.0,85500.0,11.6,31000.0,7100.0,19900.0,14100.0,13400.0,19500.0,...,6400.0,11300.0,1800.0,2900.0,1300.0,82000.0,1500.0,"85,500",42600.0,18800.0
42,TENNESSEE,5786900.0,722100.0,12.5,267100.0,64400.0,182500.0,126900.0,81200.0,81800.0,...,51700.0,81300.0,31400.0,18200.0,71600.0,626100.0,11000.0,"7,22,100",249300.0,217100.0
43,TEXAS,25630900.0,5357800.0,20.9,1806400.0,529500.0,1397000.0,929300.0,695600.0,930800.0,...,474300.0,530500.0,251000.0,82100.0,948700.0,3908400.0,58300.0,"53,57,800",2631700.0,1940100.0
44,UTAH,2949600.0,307800.0,10.4,72400.0,31000.0,92800.0,66100.0,45400.0,81900.0,...,25500.0,25900.0,10200.0,5600.0,30800.0,255600.0,3000.0,"3,07,800",168400.0,100100.0
45,VERMONT,512600.0,21300.0,4.2,4300.0,500.0,6300.0,5800.0,4500.0,1900.0,...,2700.0,1900.0,1100.0,0.0,900.0,20300.0,700.0,"21,300",6000.0,7800.0
46,VIRGINIA,7237700.0,587100.0,8.1,177300.0,55700.0,153100.0,103700.0,97400.0,87900.0,...,55000.0,66000.0,34000.0,13600.0,85400.0,454600.0,18300.0,"5,87,100",247800.0,188000.0
47,WASHINGTON,6486300.0,492000.0,7.6,117000.0,36600.0,125000.0,98100.0,115300.0,58300.0,...,46000.0,58500.0,21500.0,8700.0,75200.0,368600.0,15700.0,"4,92,000",206100.0,176900.0
48,WEST VIRGINIA,1412800.0,117500.0,8.3,46200.0,9500.0,25200.0,21200.0,15500.0,13300.0,...,11000.0,16000.0,4200.0,3000.0,1000.0,115700.0,800.0,"1,17,500",34500.0,37800.0
49,WISCONSIN,4841700.0,327800.0,6.8,87300.0,31500.0,79900.0,69000.0,60100.0,58300.0,...,29100.0,36500.0,14000.0,6200.0,27400.0,282700.0,11100.0,"3,27,800",132600.0,88700.0
50,WYOMING,474000.0,68000.0,14.4,19100.0,7700.0,15300.0,13600.0,12200.0,14500.0,...,6900.0,11100.0,2300.0,1300.0,2200.0,65800.0,0.0,"68,000",33200.0,21600.0

In [ ]:
# Create the calculated field "Total Married"
df["Industrial Employed"] = df["Employed in Agriculture Industry"] + df["Employed in Mining/Construction Industry"] + df["Employed in Manufacturing Industry"] + df["Employed in Trade Industry"] + df["Employed in Info/Finance Industry"] + df["Employed in Education/Health Industry"] + df["Employed in Entertainment Industry"] + df["Employed in Service Industry"] + df["Employed in Military/Public Industry"]

# Print the "Industrial Employed" column
df

<ipython-input-715-c7de28f00e5f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Industrial Employed"] = df["Employed in Agriculture Industry"] + df["Employed in Mining/Construction Industry"] + df["Employed in Manufacturing Industry"] + df["Employed in Trade Industry"] + df["Employed in Info/Finance Industry"] + df["Employed in Education/Health Industry"] + df["Employed in Entertainment Industry"] + df["Employed in Service Industry"] + df["Employed in Military/Public Industry"]

,State Name,Non-Elderly Population,Non-Elderly Uninsured Population,Non-Elderly Percent Uninsured,HIU Income < 100% FPL,HIU Income 100-138% FPL,HIU Income 139-249% FPL,HIU Income 250-400% FPL,HIU Income 400% FPL,Age 0-18,...,Employed in Entertainment Industry,Employed in Service Industry,Employed in Military/Public Industry,No English Speaking Adults in HH,English Speaker,Other Language Spoken in HH,Non-Elderly Unisured Population,Total Children,Total married,Industrial Employed
0,ALABAMA,4155300.0,521500.0,12.5,234300.0,56200.0,110100.0,74200.0,46700.0,50900.0,...,63500.0,22500.0,13800.0,30600.0,478100.0,2200.0,"5,21,500",170300.0,156700.0,379600.0
1,ALASKA,635600.0,75000.0,11.8,21400.0,4800.0,18200.0,16500.0,14200.0,13500.0,...,10200.0,2700.0,4400.0,2000.0,71600.0,1000.0,"75,000",26700.0,26700.0,55500.0
2,ARIZONA,5940000.0,784400.0,13.2,226000.0,64400.0,197600.0,159500.0,136900.0,146700.0,...,82200.0,34700.0,16100.0,85400.0,625000.0,10000.0,"7,84,400",340400.0,256300.0,549600.0
3,ARKANSAS,2501200.0,290900.0,11.6,101100.0,25400.0,83900.0,51800.0,28800.0,40800.0,...,21500.0,15200.0,5400.0,21500.0,253000.0,4900.0,"2,90,900",124200.0,100700.0,207700.0
4,CALIFORNIA,33273200.0,2748900.0,8.3,891800.0,241400.0,706900.0,504200.0,404700.0,327700.0,...,298800.0,130400.0,69700.0,529500.0,1752200.0,61900.0,"27,48,900",1028500.0,956900.0,2030800.0
5,COLORADO,4930600.0,466400.0,9.5,119200.0,30900.0,113900.0,102400.0,100000.0,61100.0,...,54900.0,28700.0,7300.0,57500.0,365400.0,9300.0,"4,66,400",182400.0,174400.0,349000.0
6,CONNECTICUT,2955300.0,181200.0,6.1,43000.0,16300.0,43400.0,35800.0,42800.0,20400.0,...,20000.0,9900.0,5300.0,45500.0,119100.0,12200.0,"1,81,200",75800.0,67800.0,147000.0
7,DELAWARE,804200.0,60300.0,7.5,18200.0,3800.0,12300.0,14200.0,11800.0,7300.0,...,7400.0,2200.0,1000.0,7500.0,48200.0,1000.0,"60,300",23800.0,17500.0,46700.0
8,DISTRICT OF COLUMBIA,584500.0,24300.0,4.2,10600.0,800.0,5400.0,2600.0,4900.0,5500.0,...,4600.0,1400.0,900.0,2700.0,19800.0,1300.0,"24,300",7800.0,4300.0,16900.0
9,FLORIDA,17182000.0,2682500.0,15.6,908400.0,225100.0,663900.0,490400.0,394600.0,333800.0,...,308600.0,128500.0,47400.0,368900.0,2109300.0,91000.0,"26,82,500",956200.0,830400.0,1944400.0
10,GEORGIA,9213900.0,1411600.0,15.3,552300.0,113100.0,354800.0,220600.0,170800.0,176900.0,...,147700.0,67500.0,29000.0,128200.0,1212200.0,21100.0,"14,11,600",547000.0,414900.0,1029600.0
11,HAWAII,1159100.0,50800.0,4.4,20600.0,4400.0,11200.0,7200.0,7400.0,8100.0,...,8300.0,1700.0,1500.0,5300.0,41300.0,4200.0,"50,800",16100.0,17500.0,36300.0
12,IDAHO,1586000.0,162400.0,10.2,41400.0,14300.0,47100.0,32600.0,27000.0,32300.0,...,19100.0,6100.0,2600.0,13100.0,140900.0,1600.0,"1,62,400",73500.0,62600.0,121900.0
13,ILLINOIS,10566100.0,873300.0,8.3,273800.0,67800.0,227300.0,163100.0,141300.0,93300.0,...,103400.0,37500.0,21400.0,134200.0,635800.0,44100.0,"8,73,300",340200.0,294700.0,659100.0
14,INDIANA,5689300.0,510300.0,9.0,143300.0,39300.0,138000.0,108000.0,81700.0,98100.0,...,51500.0,23800.0,8400.0,38000.0,454000.0,24000.0,"5,10,300",227800.0,157700.0,360800.0
15,IOWA,2625700.0,160700.0,6.1,48200.0,17300.0,33200.0,32600.0,29500.0,27800.0,...,18900.0,4800.0,4300.0,15500.0,137700.0,6900.0,"1,60,700",69500.0,53200.0,121300.0
16,KANSAS,2446300.0,269500.0,11.0,87900.0,26700.0,73300.0,43900.0,37800.0,38500.0,...,38700.0,11000.0,6800.0,33000.0,228200.0,3200.0,"2,69,500",115900.0,90000.0,210600.0
17,KENTUCKY,3740800.0,258000.0,6.9,93300.0,26500.0,60600.0,44700.0,32800.0,38800.0,...,26900.0,10200.0,4800.0,30900.0,219000.0,13000.0,"2,58,000",104400.0,88900.0,189700.0
18,LOUISIANA,3856000.0,375300.0,9.7,146700.0,29800.0,89500.0,55800.0,53500.0,45300.0,...,36400.0,14600.0,8500.0,42700.0,328100.0,5200.0,"3,75,300",130300.0,100300.0,262200.0
19,MAINE,1074000.0,76000.0,7.1,20800.0,3800.0,18300.0,18900.0,14300.0,9400.0,...,8300.0,4200.0,2100.0,900.0,75000.0,900.0,"76,000",24500.0,20800.0,60000.0
20,MARYLAND,5162200.0,374800.0,7.3,128000.0,29700.0,85500.0,61700.0,70000.0,64600.0,...,38300.0,17500.0,9200.0,78300.0,259400.0,14900.0,"3,74,800",158200.0,114300.0,265200.0
21,MASSACHUSETTS,5766500.0,168700.0,2.9,51400.0,10900.0,32600.0,35000.0,38900.0,16300.0,...,20400.0,7400.0,5100.0,24600.0,127500.0,17900.0,"1,68,700",47500.0,49200.0,136300.0
22,MICHIGAN,8225800.0,526900.0,6.4,160300.0,37700.0,140500.0,107800.0,80600.0,74700.0,...,56000.0,22800.0,10200.0,20800.0,480800.0,16800.0,"5,26,900",181200.0,137100.0,398800.0
23,MINNESOTA,4744000.0,246400.0,5.2,55100.0,22900.0,62800.0,54400.0,51100.0,43300.0,...,25900.0,11900.0,4300.0,21700.0,214800.0,7800.0,"2,46,400",99800.0,64900.0,191300.0
24,MISSISSIPPI,2453300.0,373200.0,15.2,172900.0,36900.0,79000.0,51000.0,33500.0,48800.0,...,39700.0,18300.0,11500.0,15900.0,353500.0,1900.0,"3,73,200",138600.0,98000.0,258400.0
25,MISSOURI,5083200.0,578000.0,11.4,206100.0,50300.0,147400.0,96300.0,78000.0,85500.0,...,72700.0,27600.0,10300.0,24700.0,543300.0,9900.0,"5,78,000",232100.0,170400.0,426300.0
26,MONTANA,887200.0,87100.0,9.8,20500.0,8800.0,22300.0,16500.0,19000.0,19300.0,...,11600.0,3800.0,3300.0,3100.0,83700.0,1200.0,"87,100",36800.0,28300.0,62300.0
27,NEBRASKA,1640500.0,138900.0,8.5,40000.0,20600.0,37700.0,20900.0,19700.0,27600.0,...,16400.0,4400.0,3600.0,21200.0,111500.0,2600.0,"1,38,900",65600.0,39800.0,99600.0
28,NEVADA,2625300.0,355800.0,13.6,99000.0,41100.0,95900.0,69000.0,51000.0,63800.0,...,57200.0,15000.0,7300.0,46300.0,270600.0,4900.0,"3,55,800",157800.0,113200.0,245700.0
29,NEW HAMPSHIRE,1122200.0,68100.0,6.1,17000.0,4400.0,12000.0,15200.0,19500.0,10600.0,...,8900.0,3100.0,1400.0,4100.0,61700.0,3500.0,"68,100",27000.0,21400.0,53500.0
30,NEW JERSEY,7702700.0,657100.0,8.5,200300.0,58000.0,173300.0,116300.0,109300.0,76200.0,...,66300.0,36700.0,19500.0,177300.0,385600.0,43400.0,"6,57,100",272500.0,228100.0,505100.0
31,NEW MEXICO,1725800.0,209500.0,12.1,72400.0,24300.0,52000.0,33600.0,27200.0,35300.0,...,24300.0,9200.0,6600.0,36400.0,161100.0,7200.0,"2,09,500",89200.0,67700.0,140700.0
32,NEW YORK,16358200.0,1008700.0,6.2,328200.0,73200.0,220300.0,194400.0,192700.0,120200.0,...,110200.0,53400.0,24500.0,193900.0,705300.0,54900.0,"10,08,700",339600.0,318700.0,758500.0
33,NORTH CAROLINA,8752300.0,1088500.0,12.4,369400.0,105800.0,274400.0,202800.0,136000.0,133000.0,...,118500.0,47600.0,20100.0,134100.0,892100.0,15600.0,"10,88,500",417100.0,339100.0,814700.0
34,NORTH DAKOTA,651500.0,57200.0,8.8,15000.0,3100.0,16500.0,10500.0,12100.0,13500.0,...,9100.0,1800.0,700.0,1500.0,55200.0,800.0,"57,200",21700.0,11200.0,39900.0
35,OHIO,9676600.0,780900.0,8.1,244100.0,57200.0,205200.0,152000.0,122500.0,140300.0,...,82000.0,34800.0,11500.0,58500.0,701200.0,41600.0,"7,80,900",308900.0,210200.0,565400.0
36,OKLAHOMA,3341200.0,554400.0,16.6,200600.0,52400.0,139600.0,87900.0,73900.0,72500.0,...,62700.0,21600.0,11000.0,32300.0,498900.0,4600.0,"5,54,400",226200.0,185300.0,404500.0
37,OREGON,3456300.0,262300.0,7.6,73200.0,21600.0,66600.0,55500.0,45500.0,31400.0,...,34600.0,13400.0,5900.0,31500.0,212900.0,5900.0,"2,62,300",97800.0,85000.0,208400.0
38,PENNSYLVANIA,10498400.0,725400.0,6.9,240900.0,53700.0,170100.0,131900.0,128900.0,120300.0,...,66300.0,31700.0,13300.0,92600.0,594200.0,48700.0,"7,25,400",290100.0,222900.0,521500.0
39,RHODE ISLAND,895800.0,45500.0,5.1,11100.0,3800.0,10400.0,10100.0,10000.0,4100.0,...,5200.0,2100.0,900.0,6100.0,35700.0,1500.0,"45,500",13700.0,17100.0,37200.0
40,SOUTH CAROLINA,4224700.0,528000.0,12.5,201700.0,46300.0,121600.0,85700.0,72700.0,63400.0,...,57600.0,23200.0,10500.0,35800.0,469600.0,5200.0,"5,28,000",187100.0,154800.0,384100.0
41,SOUTH DAKOTA,738700.0,85500.0,11.6,31000.0,7100.0,19900.0,14100.0,13400.0,19500.0,...,11300.0,1800.0,2900.0,1300.0,82000.0,1500.0,"85,500",42600.0,18800.0,55500.0
42,TENNESSEE,5786900.0,722100.0,12.5,267100.0,64400.0,182500.0,126900.0,81200.0,81800.0,...,81300.0,31400.0,18200.0,71600.0,626100.0,11000.0,"7,22,100",249300.0,217100.0,536700.0
43,TEXAS,25630900.0,5357800.0,20.9,1806400.0,529500.0,1397000.0,929300.0,695600.0,930800.0,...,530500.0,251000.0,82100.0,948700.0,3908400.0,58300.0,"53,57,800",2631700.0,1940100.0,3723600.0
44,UTAH,2949600.0,307800.0,10.4,72400.0,31000.0,92800.0,66100.0,45400.0,81900.0,...,25900.0,10200.0,5600.0,30800.0,255600.0,3000.0,"3,07,800",168400.0,100100.0,207800.0
45,VERMONT,512600.0,21300.0,4.2,4300.0,500.0,6300.0,5800.0,4500.0,1900.0,...,1900.0,1100.0,0.0,900.0,20300.0,700.0,"21,300",6000.0,7800.0,18300.0
46,VIRGINIA,7237700.0,587100.0,8.1,177300.0,55700.0,153100.0,103700.0,97400.0,87900.0,...,66000.0,34000.0,13600.0,85400.0,454600.0,18300.0,"5,87,100",247800.0,188000.0,432800.0
47,WASHINGTON,6486300.0,492000.0,7.6,117000.0,36600.0,125000.0,98100.0,115300.0,58300.0,...,58500.0,21500.0,8700.0,75200.0,368600.0,15700.0,"4,92,000",206100.0,176900.0,388200.0
48,WEST VIRGINIA,1412800.0,117500.0,8.3,46200.0,9500.0,25200.0,21200.0,15500.0,13300.0,...,16000.0,4200.0,3000.0,1000.0,115700.0,800.0,"1,17,500",34500.0,37800.0,83900.0
49,WISCONSIN,4841700.0,327800.0,6.8,87300.0,31500.0,79900.0,69000.0,60100.0,58300.0,...,36500.0,14000.0,6200.0,27400.0,282700.0,11100.0,"3,27,800",132600.0,88700.0,243600.0
50,WYOMING,474000.0,68000.0,14.4,19100.0,7700.0,15300.0,13600.0,12200.0,14500.0,...,11100.0,2300.0,1300.0,2200.0,65800.0,0.0,"68,000",33200.0,21600.0,49500.0

In [ ]:
columns_to_drop = [
    'Married',
    'Got married in last 12 months',
    'Gave birth in last 12 months',
    'Child in Family',
    'Employed in Agriculture Industry',
    'Employed in Mining/Construction Industry',
    'Employed in Manufacturing Industry',
    'Employed in Trade Industry',
    'Employed in Info/Finance Industry',
    'Employed in Education/Health Industry',
    'Employed in Entertainment Industry',
    'Employed in Service Industry',
    'Employed in Military/Public Industry'
]

# Use the drop method to remove the specified columns
df = df.drop(columns=columns_to_drop)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 39 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   State Name                                  51 non-null     object
 1   Non-Elderly Population                      51 non-null     float64
 2   Non-Elderly Uninsured Population            51 non-null     float64
 3   Non-Elderly Percent Uninsured               51 non-null     float64
 4   HIU Income < 100% FPL                       51 non-null     float64
 5   HIU Income 100-138% FPL                     51 non-null     float64
 6   HIU Income 139-249% FPL                     51 non-null     float64
 7   HIU Income 250-400% FPL                     51 non-null     float64
 8   HIU Income 400% FPL                         51 non-null     float64
 9   Age 0-18                                    51 non-null     float64
 10  Age 19-34                                   51 non-null     float64
 11  Age 35-49                                   51 non-null     float64
 12  Age 50-64                                   51 non-null     float64
 13  Male                                        51 non-null     float64
 14  Female                                      51 non-null     float64
 15  Less than High School                       51 non-null     float64
 16  High_School                                 51 non-null     float64
 17  College Grad                                51 non-null     float64
 18  Spanish/Hispanic/Latino Origin              51 non-null     float64
 19  White Non-Latino                            51 non-null     float64
 20  Black Non-Latino                            51 non-null     float64
 21  Asian / Native-Hawaiian / Pac Islander      51 non-null     float64
 22  American Indian / Alaska Native             51 non-null     float64
 23  Multi-racial or Other                       51 non-null     float64
 24  Internet Access in HH                       51 non-null     float64
 25  Cellular data plan for mobile device in HH  51 non-null     float64
 26  High Speed Internet service in HH           51 non-null     float64
 27  SNAP Recipient                              51 non-null     float64
 28  Disabled                                    51 non-null     float64
 29  Full-time Worker in Family                  51 non-null     float64
 30  Self-Employed, Incorporated                 51 non-null     float64
 31  Self-Employed, Unincorporated               51 non-null     float64
 32  No English Speaking Adults in HH            51 non-null     float64
 33  English Speaker                             51 non-null     float64
 34  Other Language Spoken in HH                 51 non-null     float64
 35  Non-Elderly Unisured Population             51 non-null     object
 36  Total Children                              51 non-null     float64
 37  Total married                               51 non-null     float64
 38  Industrial Employed                         51 non-null     float64
dtypes: float64(37), object(2)
memory usage: 15.7+ KB

In [ ]:
# Setting threshold for identifying outliers
threshold = 3

# Creating new DataFrame to store outlier flags
outlier_flags = pd.DataFrame()

# Calculating Z-scores and identify outliers for each numeric column
for column in df.select_dtypes(include=[np.number]).columns:
    z_scores = np.abs(stats.zscore(df[column]))
    outliers = np.abs(z_scores) > threshold
    outlier_flags[column] = outliers

In [ ]:
# Filter rows with outliers and remove them
filtered_df = df[~outlier_flags.any(axis=1)]
df

,State Name,Non-Elderly Population,Non-Elderly Uninsured Population,Non-Elderly Percent Uninsured,HIU Income < 100% FPL,HIU Income 100-138% FPL,HIU Income 139-249% FPL,HIU Income 250-400% FPL,HIU Income 400% FPL,Age 0-18,...,Full-time Worker in Family,"Self-Employed, Incorporated","Self-Employed, Unincorporated",No English Speaking Adults in HH,English Speaker,Other Language Spoken in HH,Non-Elderly Unisured Population,Total Children,Total married,Industrial Employed
0,ALABAMA,4155300.0,521500.0,12.5,234300.0,56200.0,110100.0,74200.0,46700.0,50900.0,...,366700.0,10200.0,34700.0,30600.0,478100.0,2200.0,"5,21,500",170300.0,156700.0,379600.0
1,ALASKA,635600.0,75000.0,11.8,21400.0,4800.0,18200.0,16500.0,14200.0,13500.0,...,61500.0,1100.0,5900.0,2000.0,71600.0,1000.0,"75,000",26700.0,26700.0,55500.0
2,ARIZONA,5940000.0,784400.0,13.2,226000.0,64400.0,197600.0,159500.0,136900.0,146700.0,...,634100.0,23100.0,55900.0,85400.0,625000.0,10000.0,"7,84,400",340400.0,256300.0,549600.0
3,ARKANSAS,2501200.0,290900.0,11.6,101100.0,25400.0,83900.0,51800.0,28800.0,40800.0,...,221900.0,6500.0,22000.0,21500.0,253000.0,4900.0,"2,90,900",124200.0,100700.0,207700.0
4,CALIFORNIA,33273200.0,2748900.0,8.3,891800.0,241400.0,706900.0,504200.0,404700.0,327700.0,...,2096300.0,70000.0,257300.0,529500.0,1752200.0,61900.0,"27,48,900",1028500.0,956900.0,2030800.0
5,COLORADO,4930600.0,466400.0,9.5,119200.0,30900.0,113900.0,102400.0,100000.0,61100.0,...,385800.0,23600.0,41500.0,57500.0,365400.0,9300.0,"4,66,400",182400.0,174400.0,349000.0
6,CONNECTICUT,2955300.0,181200.0,6.1,43000.0,16300.0,43400.0,35800.0,42800.0,20400.0,...,148900.0,4600.0,13600.0,45500.0,119100.0,12200.0,"1,81,200",75800.0,67800.0,147000.0
7,DELAWARE,804200.0,60300.0,7.5,18200.0,3800.0,12300.0,14200.0,11800.0,7300.0,...,46900.0,2100.0,4500.0,7500.0,48200.0,1000.0,"60,300",23800.0,17500.0,46700.0
8,DISTRICT OF COLUMBIA,584500.0,24300.0,4.2,10600.0,800.0,5400.0,2600.0,4900.0,5500.0,...,14300.0,500.0,2300.0,2700.0,19800.0,1300.0,"24,300",7800.0,4300.0,16900.0
9,FLORIDA,17182000.0,2682500.0,15.6,908400.0,225100.0,663900.0,490400.0,394600.0,333800.0,...,2041300.0,117500.0,212300.0,368900.0,2109300.0,91000.0,"26,82,500",956200.0,830400.0,1944400.0
10,GEORGIA,9213900.0,1411600.0,15.3,552300.0,113100.0,354800.0,220600.0,170800.0,176900.0,...,1055300.0,42100.0,108500.0,128200.0,1212200.0,21100.0,"14,11,600",547000.0,414900.0,1029600.0
11,HAWAII,1159100.0,50800.0,4.4,20600.0,4400.0,11200.0,7200.0,7400.0,8100.0,...,29800.0,2500.0,4900.0,5300.0,41300.0,4200.0,"50,800",16100.0,17500.0,36300.0
12,IDAHO,1586000.0,162400.0,10.2,41400.0,14300.0,47100.0,32600.0,27000.0,32300.0,...,137900.0,6700.0,13500.0,13100.0,140900.0,1600.0,"1,62,400",73500.0,62600.0,121900.0
13,ILLINOIS,10566100.0,873300.0,8.3,273800.0,67800.0,227300.0,163100.0,141300.0,93300.0,...,672200.0,28400.0,59200.0,134200.0,635800.0,44100.0,"8,73,300",340200.0,294700.0,659100.0
14,INDIANA,5689300.0,510300.0,9.0,143300.0,39300.0,138000.0,108000.0,81700.0,98100.0,...,424900.0,14200.0,33300.0,38000.0,454000.0,24000.0,"5,10,300",227800.0,157700.0,360800.0
15,IOWA,2625700.0,160700.0,6.1,48200.0,17300.0,33200.0,32600.0,29500.0,27800.0,...,132000.0,3900.0,14100.0,15500.0,137700.0,6900.0,"1,60,700",69500.0,53200.0,121300.0
16,KANSAS,2446300.0,269500.0,11.0,87900.0,26700.0,73300.0,43900.0,37800.0,38500.0,...,219000.0,9600.0,18600.0,33000.0,228200.0,3200.0,"2,69,500",115900.0,90000.0,210600.0
17,KENTUCKY,3740800.0,258000.0,6.9,93300.0,26500.0,60600.0,44700.0,32800.0,38800.0,...,192400.0,7000.0,16100.0,30900.0,219000.0,13000.0,"2,58,000",104400.0,88900.0,189700.0
18,LOUISIANA,3856000.0,375300.0,9.7,146700.0,29800.0,89500.0,55800.0,53500.0,45300.0,...,272800.0,8500.0,30700.0,42700.0,328100.0,5200.0,"3,75,300",130300.0,100300.0,262200.0
19,MAINE,1074000.0,76000.0,7.1,20800.0,3800.0,18300.0,18900.0,14300.0,9400.0,...,65100.0,1000.0,11400.0,900.0,75000.0,900.0,"76,000",24500.0,20800.0,60000.0
20,MARYLAND,5162200.0,374800.0,7.3,128000.0,29700.0,85500.0,61700.0,70000.0,64600.0,...,288700.0,12000.0,27900.0,78300.0,259400.0,14900.0,"3,74,800",158200.0,114300.0,265200.0
21,MASSACHUSETTS,5766500.0,168700.0,2.9,51400.0,10900.0,32600.0,35000.0,38900.0,16300.0,...,126200.0,4000.0,13500.0,24600.0,127500.0,17900.0,"1,68,700",47500.0,49200.0,136300.0
22,MICHIGAN,8225800.0,526900.0,6.4,160300.0,37700.0,140500.0,107800.0,80600.0,74700.0,...,412100.0,12100.0,43200.0,20800.0,480800.0,16800.0,"5,26,900",181200.0,137100.0,398800.0
23,MINNESOTA,4744000.0,246400.0,5.2,55100.0,22900.0,62800.0,54400.0,51100.0,43300.0,...,208500.0,5600.0,17600.0,21700.0,214800.0,7800.0,"2,46,400",99800.0,64900.0,191300.0
24,MISSISSIPPI,2453300.0,373200.0,15.2,172900.0,36900.0,79000.0,51000.0,33500.0,48800.0,...,257700.0,10000.0,30600.0,15900.0,353500.0,1900.0,"3,73,200",138600.0,98000.0,258400.0
25,MISSOURI,5083200.0,578000.0,11.4,206100.0,50300.0,147400.0,96300.0,78000.0,85500.0,...,446900.0,15700.0,40400.0,24700.0,543300.0,9900.0,"5,78,000",232100.0,170400.0,426300.0
26,MONTANA,887200.0,87100.0,9.8,20500.0,8800.0,22300.0,16500.0,19000.0,19300.0,...,74100.0,4900.0,9100.0,3100.0,83700.0,1200.0,"87,100",36800.0,28300.0,62300.0
27,NEBRASKA,1640500.0,138900.0,8.5,40000.0,20600.0,37700.0,20900.0,19700.0,27600.0,...,115900.0,3300.0,11400.0,21200.0,111500.0,2600.0,"1,38,900",65600.0,39800.0,99600.0
28,NEVADA,2625300.0,355800.0,13.6,99000.0,41100.0,95900.0,69000.0,51000.0,63800.0,...,277900.0,7500.0,25000.0,46300.0,270600.0,4900.0,"3,55,800",157800.0,113200.0,245700.0
29,NEW HAMPSHIRE,1122200.0,68100.0,6.1,17000.0,4400.0,12000.0,15200.0,19500.0,10600.0,...,55100.0,2200.0,5900.0,4100.0,61700.0,3500.0,"68,100",27000.0,21400.0,53500.0
30,NEW JERSEY,7702700.0,657100.0,8.5,200300.0,58000.0,173300.0,116300.0,109300.0,76200.0,...,529600.0,21700.0,45400.0,177300.0,385600.0,43400.0,"6,57,100",272500.0,228100.0,505100.0
31,NEW MEXICO,1725800.0,209500.0,12.1,72400.0,24300.0,52000.0,33600.0,27200.0,35300.0,...,160500.0,4000.0,13500.0,36400.0,161100.0,7200.0,"2,09,500",89200.0,67700.0,140700.0
32,NEW YORK,16358200.0,1008700.0,6.2,328200.0,73200.0,220300.0,194400.0,192700.0,120200.0,...,758000.0,31600.0,81300.0,193900.0,705300.0,54900.0,"10,08,700",339600.0,318700.0,758500.0
33,NORTH CAROLINA,8752300.0,1088500.0,12.4,369400.0,105800.0,274400.0,202800.0,136000.0,133000.0,...,845300.0,30800.0,85500.0,134100.0,892100.0,15600.0,"10,88,500",417100.0,339100.0,814700.0
34,NORTH DAKOTA,651500.0,57200.0,8.8,15000.0,3100.0,16500.0,10500.0,12100.0,13500.0,...,47900.0,4500.0,5200.0,1500.0,55200.0,800.0,"57,200",21700.0,11200.0,39900.0
35,OHIO,9676600.0,780900.0,8.1,244100.0,57200.0,205200.0,152000.0,122500.0,140300.0,...,616000.0,20300.0,54000.0,58500.0,701200.0,41600.0,"7,80,900",308900.0,210200.0,565400.0
36,OKLAHOMA,3341200.0,554400.0,16.6,200600.0,52400.0,139600.0,87900.0,73900.0,72500.0,...,417800.0,17700.0,41200.0,32300.0,498900.0,4600.0,"5,54,400",226200.0,185300.0,404500.0
37,OREGON,3456300.0,262300.0,7.6,73200.0,21600.0,66600.0,55500.0,45500.0,31400.0,...,204100.0,7700.0,20400.0,31500.0,212900.0,5900.0,"2,62,300",97800.0,85000.0,208400.0
38,PENNSYLVANIA,10498400.0,725400.0,6.9,240900.0,53700.0,170100.0,131900.0,128900.0,120300.0,...,548400.0,18200.0,55400.0,92600.0,594200.0,48700.0,"7,25,400",290100.0,222900.0,521500.0
39,RHODE ISLAND,895800.0,45500.0,5.1,11100.0,3800.0,10400.0,10100.0,10000.0,4100.0,...,37500.0,1800.0,2500.0,6100.0,35700.0,1500.0,"45,500",13700.0,17100.0,37200.0
40,SOUTH CAROLINA,4224700.0,528000.0,12.5,201700.0,46300.0,121600.0,85700.0,72700.0,63400.0,...,389700.0,11900.0,40500.0,35800.0,469600.0,5200.0,"5,28,000",187100.0,154800.0,384100.0
41,SOUTH DAKOTA,738700.0,85500.0,11.6,31000.0,7100.0,19900.0,14100.0,13400.0,19500.0,...,62500.0,1700.0,5500.0,1300.0,82000.0,1500.0,"85,500",42600.0,18800.0,55500.0
42,TENNESSEE,5786900.0,722100.0,12.5,267100.0,64400.0,182500.0,126900.0,81200.0,81800.0,...,539200.0,14300.0,63600.0,71600.0,626100.0,11000.0,"7,22,100",249300.0,217100.0,536700.0
43,TEXAS,25630900.0,5357800.0,20.9,1806400.0,529500.0,1397000.0,929300.0,695600.0,930800.0,...,4327900.0,121700.0,444100.0,948700.0,3908400.0,58300.0,"53,57,800",2631700.0,1940100.0,3723600.0
44,UTAH,2949600.0,307800.0,10.4,72400.0,31000.0,92800.0,66100.0,45400.0,81900.0,...,261400.0,11300.0,13600.0,30800.0,255600.0,3000.0,"3,07,800",168400.0,100100.0,207800.0
45,VERMONT,512600.0,21300.0,4.2,4300.0,500.0,6300.0,5800.0,4500.0,1900.0,...,17700.0,700.0,1800.0,900.0,20300.0,700.0,"21,300",6000.0,7800.0,18300.0
46,VIRGINIA,7237700.0,587100.0,8.1,177300.0,55700.0,153100.0,103700.0,97400.0,87900.0,...,462700.0,15400.0,41800.0,85400.0,454600.0,18300.0,"5,87,100",247800.0,188000.0,432800.0
47,WASHINGTON,6486300.0,492000.0,7.6,117000.0,36600.0,125000.0,98100.0,115300.0,58300.0,...,397100.0,18500.0,35900.0,75200.0,368600.0,15700.0,"4,92,000",206100.0,176900.0,388200.0
48,WEST VIRGINIA,1412800.0,117500.0,8.3,46200.0,9500.0,25200.0,21200.0,15500.0,13300.0,...,82700.0,3600.0,7400.0,1000.0,115700.0,800.0,"1,17,500",34500.0,37800.0,83900.0
49,WISCONSIN,4841700.0,327800.0,6.8,87300.0,31500.0,79900.0,69000.0,60100.0,58300.0,...,263500.0,10600.0,24200.0,27400.0,282700.0,11100.0,"3,27,800",132600.0,88700.0,243600.0
50,WYOMING,474000.0,68000.0,14.4,19100.0,7700.0,15300.0,13600.0,12200.0,14500.0,...,55600.0,2500.0,6100.0,2200.0,65800.0,0.0,"68,000",33200.0,21600.0,49500.0

In [ ]:
from sklearn.preprocessing import StandardScaler

# Separating the numeric and non-numeric columns
numeric_columns = filtered_df.select_dtypes(include=[int, float]).columns
non_numeric_columns = filtered_df.select_dtypes(exclude=[int, float]).columns

#StandardScaler
scaler = StandardScaler()

# Fitting the scaler to the numeric columns and transforming them
filtered_df[numeric_columns] = scaler.fit_transform(filtered_df[numeric_columns])

# Printting  the DataFrame with standardized numeric columns
print("DataFrame with Standardized Numeric Columns:")
print(filtered_df)

DataFrame with Standardized Numeric Columns:
              State Name  Non-Elderly Population  \
0                ALABAMA                0.036674
1                 ALASKA               -1.003232
3               ARKANSAS               -0.452035
5               COLORADO                0.265738
6            CONNECTICUT               -0.317870
7               DELAWARE               -0.953419
8   DISTRICT OF COLUMBIA               -1.018330
11                HAWAII               -0.848563
12                 IDAHO               -0.722434
13              ILLINOIS                1.930764
14               INDIANA                0.489898
15                  IOWA               -0.415251
16                KANSAS               -0.468256
17              KENTUCKY               -0.085792
18             LOUISIANA               -0.051755
19                 MAINE               -0.873706
20              MARYLAND                0.334165
21         MASSACHUSETTS                0.512707
22              MICHIGAN                1.239315
23             MINNESOTA                0.210607
24           MISSISSIPPI               -0.466187
25              MISSOURI                0.310824
26               MONTANA               -0.928896
27              NEBRASKA               -0.706332
28                NEVADA               -0.415369
29         NEW HAMPSHIRE               -0.859465
30            NEW JERSEY                1.084764
31            NEW MEXICO               -0.681129
32              NEW YORK                3.642057
33        NORTH CAROLINA                1.394871
34          NORTH DAKOTA               -0.998535
35                  OHIO                1.667958
37                OREGON               -0.169848
38          PENNSYLVANIA                1.910761
39          RHODE ISLAND               -0.926355
40        SOUTH CAROLINA                0.057178
41          SOUTH DAKOTA               -0.972771
42             TENNESSEE                0.518735
44                  UTAH               -0.319554
45               VERMONT               -1.039573
46              VIRGINIA                0.947378
47            WASHINGTON                0.725375
48         WEST VIRGINIA               -0.773606
49             WISCONSIN                0.239473
50               WYOMING               -1.050978

    Non-Elderly Uninsured Population  Non-Elderly Percent Uninsured  \
0                           0.657320                       1.279642
1                          -0.972897                       1.039851
3                          -0.184624                       0.971340
5                           0.456144                       0.251970
6                          -0.585150                      -0.912725
7                          -1.026568                      -0.433145
8                          -1.158008                      -1.563583
11                         -1.061253                      -1.495072
12                         -0.653790                       0.491760
13                          1.941777                      -0.159099
14                          0.616428                       0.080691
15                         -0.659997                      -0.912725
16                         -0.262758                       0.765806
17                         -0.304745                      -0.638679
18                          0.123529                       0.320481
19                         -0.969246                      -0.570167
20                          0.121703                      -0.501656
21                         -0.630789                      -2.008908
22                          0.677036                      -0.809958
23                         -0.347098                      -1.221026
24                          0.115862                       2.204546
25                          0.863607                       0.902829
26                         -0.928718                       0.354737
27                         -0.739591                      -0.090587
28                          0.052332                       1.656455
29                         -0.998089                      -0.912725
30                          1.152409                      -0.090587
31                         -0.481824                       1.142619
32                          2.436136                      -0.878469
33                          2.727494                       1.245386
34                         -1.037886                       0.012180
35                          1.604416                      -0.227610
37                         -0.289045                      -0.398889
38                          1.401779                      -0.638679
39                         -1.080604                      -1.255282
40                          0.681052                       1.279642
41                         -0.934560                       0.971340
42                          1.389731                       1.279642
44                         -0.122920                       0.560271
45                         -1.168961                      -1.563583
46                          0.896832                      -0.227610
47                          0.549612                      -0.398889
48                         -0.817725                      -0.159099
49                         -0.049898                      -0.672935
50                         -0.998454                       1.930500

    HIU Income < 100% FPL  HIU Income 100-138% FPL  HIU Income 139-249% FPL  \
0                1.327816                 1.154549                 0.371407
1               -0.947310                -1.058671                -0.972738
3               -0.095607                -0.171661                -0.011798
5                0.097816                 0.065162                 0.426987
6               -0.716485                -0.563496                -0.604158
7               -0.981507                -1.101730                -1.059032
8               -1.062723                -1.230906                -1.159953
11              -0.955859                -1.075895                -1.075121
12              -0.733583                -0.649613                -0.550041
13               1.749927                 1.654030                 2.085594
14               0.355357                 0.426856                 0.779477
15              -0.660916                -0.520437                -0.753345
16              -0.236667                -0.115685                -0.166836
17              -0.178961                -0.124296                -0.352588
18               0.391691                 0.017798                 0.070108
19              -0.953722                -1.101730                -0.971275
20               0.191856                 0.013492                 0.011603
21              -0.626719                -0.796013                -0.762121
22               0.537025                 0.357962                 0.816043
23              -0.587180                -0.279308                -0.320411
24               0.671673                 0.323515                -0.083467
25               1.026461                 0.900502                 0.916963
26              -0.956928                -0.886436                -0.912770
27              -0.748544                -0.378343                -0.687527
28              -0.118049                 0.504361                 0.163716
29              -0.994330                -1.075895                -1.063420
30               0.964480                 1.232054                 1.295781
31              -0.402306                -0.219026                -0.478373
32               2.331265                 1.886547                 1.983211
33               2.771543                 3.290263                 2.774487
34              -1.015703                -1.131871                -0.997602
35               1.432542                 1.197607                 1.762356
37              -0.393757                -0.335284                -0.264831
38               1.398346                 1.046902                 1.248977
39              -1.057380                -1.101730                -1.086822
40               0.979441                 0.728267                 0.539608
41              -0.844721                -0.959636                -0.947873
42               1.678329                 1.507630                 1.430342
44              -0.402306                 0.069468                 0.118374
45              -1.130047                -1.243824                -1.146789
46               0.718693                 1.133019                 1.000332
47               0.074306                 0.310597                 0.589337
48              -0.682289                -0.856295                -0.870355
49              -0.243079                 0.090997                -0.070303
50              -0.971889                -0.933801                -1.015154

    HIU Income 250-400% FPL  HIU Income 400% FPL  Age 0-18  ...  \
0                  0.215999            -0.170255  0.054410  ...
1                 -0.915642            -0.910879 -0.965321  ...
3                 -0.223321            -0.578168 -0.220972  ...
5                  0.769072             1.044369  0.332518  ...
6                 -0.537121            -0.259130 -0.777189  ...
7                 -0.960751            -0.965572 -1.134367  ...
8                 -1.188256            -1.122812 -1.183445  ...
11                -1.098039            -1.065841 -1.112555  ...
12                -0.599881            -0.619187 -0.452729  ...
13                 1.959551             1.985532  1.210469  ...
14                 0.878902             0.627341  1.341343  ...
15                -0.599881            -0.562216 -0.575424  ...
16                -0.378260            -0.373072 -0.283683  ...
17                -0.362570            -0.487014 -0.275503  ...
18                -0.144871            -0.015294 -0.098277  ...
19                -0.868572            -0.908601 -1.077110  ...
20                -0.029157             0.360716  0.427948  ...
21                -0.552811            -0.348005 -0.888978  ...
22                 0.874979             0.602273  0.703330  ...
23                -0.172329            -0.069986 -0.152808  ...
24                -0.239011            -0.471062 -0.002848  ...
25                 0.649435             0.543023  0.997797  ...
26                -0.915642            -0.801495 -0.807181  ...
27                -0.829347            -0.785543 -0.580877  ...
28                 0.114014            -0.072265  0.406135  ...
29                -0.941139            -0.790101 -1.044391  ...
30                 1.041685             1.256302  0.744228  ...
31                -0.580269            -0.614630 -0.370932  ...
32                 2.573422             3.156858  1.943912  ...
33                 2.738167             1.864753  2.292910  ...
34                -1.033317            -0.958735 -0.965321  ...
35                 1.741852             1.557109  2.491949  ...
37                -0.150755            -0.197601 -0.477268  ...
38                 1.347640             1.702955  1.946638  ...
39                -1.041162            -1.006591 -1.221617  ...
40                 0.441543             0.422245  0.395229  ...
41                -0.962712            -0.929110 -0.801728  ...
42                 1.249578             0.615946  0.896915  ...
44                 0.057138            -0.199880  0.899641  ...
45                -1.125496            -1.131927 -1.281601  ...
46                 0.794568             0.985119  1.063235  ...
47                 0.684738             1.393032  0.256175  ...
48                -0.823464            -0.881254 -0.970774  ...
49                 0.114014             0.135110  0.256175  ...
50                -0.972519            -0.956456 -0.938056  ...

    Full-time Worker in Family  Self-Employed, Incorporated  \
0                     0.482102                     0.055263
1                    -0.967720                    -1.065048
3                    -0.205756                    -0.400248
5                     0.572835                     1.704952
6                    -0.552535                    -0.634159
7                    -1.037076                    -0.941937
8                    -1.191939                    -1.138915
11                   -1.118308                    -0.892692
12                   -0.604789                    -0.375626
13                    1.933350                     2.295886
14                    0.758576                     0.547708
15                   -0.632817                    -0.720337
16                   -0.219532                    -0.018603
17                   -0.345892                    -0.338692
18                    0.036040                    -0.154026
19                   -0.950618                    -1.077359
20                    0.111571                     0.276863
21                   -0.660369                    -0.708026
22                    0.697770                     0.289174
23                   -0.269411                    -0.511048
24                   -0.035691                     0.030641
25                    0.863084                     0.732374
26                   -0.907865                    -0.597226
27                   -0.709298                    -0.794204
28                    0.060267                    -0.277137
29                   -0.998122                    -0.929626
30                    1.255943                     1.471041
31                   -0.497430                    -0.708026
32                    2.340934                     2.689841
33                    2.755644                     2.591353
34                   -1.032325                    -0.646470
35                    1.666377                     1.298686
37                   -0.290313                    -0.252515
38                    1.345250                     1.040152
39                   -1.081730                    -0.978870
40                    0.591362                     0.264552
41                   -0.962969                    -0.991181
42                    1.301546                     0.560019
44                   -0.018115                     0.190685
45                   -1.175787                    -1.114293
46                    0.938141                     0.695441
47                    0.626514                     1.077086
48                   -0.867011                    -0.757270
49                   -0.008139                     0.104508
50                   -0.995747                    -0.892692

    Self-Employed, Unincorporated  No English Speaking Adults in HH  \
0                        0.434196                         -0.210685
1                       -0.948405                         -0.844070
3                       -0.175492                         -0.412217
5                        0.760644                          0.385051
6                       -0.578751                          0.119295
7                       -1.015614                         -0.722265
8                       -1.121230                         -0.828567
11                      -0.996412                         -0.770987
12                      -0.583552                         -0.598246
13                       1.610367                          2.083673
14                       0.366987                         -0.046803
15                      -0.554747                         -0.545095
16                      -0.338716                         -0.157534
17                      -0.458733                         -0.204041
18                       0.242169                          0.057285
19                      -0.684366                         -0.868431
20                       0.107749                          0.845694
21                      -0.583552                         -0.343563
22                       0.842256                         -0.427719
23                      -0.386723                         -0.407787
24                       0.237368                         -0.536236
25                       0.707836                         -0.341349
26                      -0.794782                         -0.819709
27                      -0.684366                         -0.418861
28                      -0.031471                          0.137012
29                      -0.948405                         -0.797563
30                       0.947871                          3.038179
31                      -0.583552                         -0.082237
32                       2.671322                          3.405808
33                       2.872951                          2.081458
34                      -0.982009                         -0.855143
35                       1.360731                          0.407197
37                      -0.252303                         -0.190754
38                       1.427941                          1.162386
39                      -1.111628                         -0.753270
40                       0.712637                         -0.095524
41                      -0.967607                         -0.859572
42                       1.821598                          0.697314
44                      -0.578751                         -0.206256
45                      -1.145233                         -0.868431
46                       0.775046                          1.002933
47                       0.491805                          0.777040
48                      -0.876394                         -0.866216
49                      -0.069877                         -0.281553
50                      -0.938803                         -0.839641

    English Speaker  Other Language Spoken in HH  \
0          0.906557                    -0.647507
1         -0.955008                    -0.733990
3         -0.124288                    -0.452918
5          0.390448                    -0.135811
6         -0.737482                     0.073191
7         -1.062168                    -0.733990
8         -1.192226                    -0.712370
11        -1.093767                    -0.503367
12        -0.637649                    -0.690749
13         1.628744                     2.372216
14         0.796191                     0.923614
15        -0.652303                    -0.308779
16        -0.237859                    -0.575437
17        -0.279990                     0.130847
18         0.219633                    -0.431297
19        -0.939438                    -0.741197
20        -0.094979                     0.267779
21        -0.699014                     0.483988
22         0.918922                     0.404712
23        -0.299224                    -0.243916
24         0.335952                    -0.669128
25         1.205140                    -0.092570
26        -0.899596                    -0.719577
27        -0.772286                    -0.618679
28        -0.043688                    -0.452918
29        -1.000345                    -0.553816
30         0.482954                     2.321767
31        -0.545143                    -0.287158
32         1.947019                     3.150570
33         2.802469                     0.318228
34        -1.030112                    -0.748404
35         1.928243                     2.192042
37        -0.307925                    -0.380849
38         1.438237                     2.703737
39        -1.119412                    -0.697956
40         0.867631                    -0.431297
41        -0.907381                    -0.697956
42         1.584323                    -0.013293
44        -0.112381                    -0.589851
45        -1.189936                    -0.755611
46         0.798939                     0.512816
47         0.405102                     0.325435
48        -0.753052                    -0.748404
49         0.011724                    -0.006086

<ipython-input-720-aa3c50459b92>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df[numeric_columns] = scaler.fit_transform(filtered_df[numeric_columns])

In [ ]:
# Specify the file path where it is saved in the CSV file format
file_path = "/content/drive/MyDrive/cleaned_dataset.csv"

# Save the DataFrame to a CSV file
filtered_df.to_csv(file_path, index=False)

print(f"DataFrame saved to {file_path}")

DataFrame saved to /content/drive/MyDrive/cleaned_dataset.csv